<div class="container-fluid">
    <br />
    <div class="btn-group btn-breadcrumb">
        <a ng-click="eventCreateCtrl.getEventList()" class="btn btn-info"><i class="fa fa-calendar fa-lg"></i> Events </a>
    </div>
    <h2>
        Create new event
        <div style="display: inline-block;">
            <button class="btn btn-info" ng-click="eventCreateCtrl.create()" title="Create new lecture" ng-disabled="eventForm.$invalid">
                <i class="fa fa-plus-circle fa-lg"></i>  Create
            </button>
        </div>
    </h2>
    <br />
<div>
    <div class="create-event-wrap">
        <div class="container">
            <div class="col-md-12" style="padding-left: 0">
                <form name="eventForm" ng-submit="submitForm()" class="form-horizontal" novalidate>
                    <div class="form-group" ng-class="{ 'has-error' : eventForm.name.$invalid && !eventForm.name.$pristine }">
                        <label class="col-sm-2 create-event-form">Event name:</label>
                        <input type="text" name="name" class="form-control text-valid" ng-pattern="/^[\w -]*$/" ng-model="eventCreateCtrl.event.fileUnit.name" placeholder="Event name" required>
                        <p ng-show="eventForm.name.$error.required && eventForm.name.$touched" class="help-block col-sm-offset-2 event-validation">Name is required</p>
                        <p ng-show="eventForm.name.$error.pattern" class="help-block col-sm-offset-2 lecture-validation">Not a valid name</p>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 create-event-form">Description:</label>
                        <textarea type="text" name="description" class="form-control" ng-model="eventCreateCtrl.event.fileUnit.description" placeholder="Enter description"></textarea>
                    </div>
                    <div class="form-group datetimepicker" ng-class="{ 'has-error' : eventForm.date.$invalid && !eventForm.date.$pristine }">
                        <label class="col-sm-2 create-event-form">Event date:</label>
                        <p class="input-group">
                            <span class="input-group-btn">
                                    <input ng-model-options="{timezone:'+0000'}" type="datetime" name="date" class="form-control" datetime-picker="yyyy-MM-dd HH:mm"
                                           ng-model="eventCreateCtrl.event.eventDate" is-open="eventCreateCtrl.calendar.isOpen" placeholder="Select date"
                                           timepicker-options="eventCreateCtrl.calendar.timepickerOptions" required />
                                    <button type="button" class="btn btn-default" ng-click="eventCreateCtrl.calendar.openCalendar($event, prop)"><i class="fa fa-calendar"></i></button>
                                </span>
                            <p ng-show="eventForm.date.$error.required && eventForm.date.$touched" class="help-block col-sm-offset-2 event-validation">Date is required</p>
                            <p ng-show="eventForm.date.$error.datetime" class="help-block col-sm-offset-2 lecture-validation">Not a valid date</p>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
    </div>

