<div class="container-fluid" style="overflow: hidden; height: 100%">
    <br />
    <div class="btn-group btn-breadcrumb">
        <a class="btn btn-info" ng-click="sharedSpaceCtrl.getSpaceByButton()" title="{{sharedSpaceCtrl.space.name}}">
            <i class="fa fa-cloud fa-lg"></i>
            {{sharedSpaceCtrl.space.name | limitTo: 13}}{{sharedSpaceCtrl.space.name.length > 13 ? '...' : ''}}
        </a>
        <a ng-repeat="item in sharedSpaceCtrl.folderList" ng-click="sharedSpaceCtrl.getFolderContent(item.id); sharedSpaceCtrl.deleteElems(item)" title="{{item.name}}" class="btn btn-default">
            {{item.name | limitTo: 10}}{{item.name.length > 10 ? '...' : ''}}
        </a>
    </div>
    <div class="row" style="margin:1em 0 1em 0">
        <div class="col-lg-push-4-offset pull-right">
            <button class="btn btn-default" ng-click="sharedSpaceCtrl.changeView(sharedSpaceCtrl.view)">
                <i class={{sharedSpaceCtrl.view}} title="view"> </i>
            </button>
        </div>
        <div>
            <div class="col-sm-3 pull-right">
                <div>
                    <div class="input-group">
                        <form id="form-container">
                            <!--<input type="submit" id="searchsubmit" value=""/>-->

                            <div id="searchtext">
                                <input type="search" size="40" class="search-input" value="" name="s" id="s" placeholder="Search..." ng-model="sharedSpaceCtrl.searchText">
                                <button class="search-submit-button" type="submit" ng-click="sharedSpaceCtrl.search()"> <i class="fa fa-search"></i> </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <span us-spinner="{radius:30, width:8, length: 16}"></span>
    <div class="wrap" ng-show="sharedSpaceCtrl.showGrid" context-menu="spaceCtrl.folderMenuOptions">
        <div role="button" class="s-block btn-default shadow" context-menu="sharedSpaceCtrl.folderMenuOptions" dir-paginate="folder in sharedSpaceCtrl.space.folders | itemsPerPage: sharedSpaceCtrl.paginate.pageSize" total-items="sharedSpaceCtrl.paginate.numberOfItems" current-page="sharedSpaceCtrl.paginate.currentPage" title="Created {{ folder.createdAt | date : 'short' }}" ng-dblclick="sharedSpaceCtrl.getFolderContent(folder.id); sharedSpaceCtrl.addElem(folder)">
            <i class="fa fa-folder-o fa-5x"></i>
            <br>
            <span class="bold">Name: </span>
            <span>{{ folder.name }}</span>
            <br>
            <span class="bold">Description: </span>
            <span>{{ folder.description }}</span>
            <br>
            <span class="bold">Author: </span>
            <span>{{ folder.author.name }}</span>
        </div>
        <div class="clearfix"></div>
        <div role="button" class="s-block btn-default shadow" context-menu="sharedSpaceCtrl.fileMenuOptions" ng-repeat="file in sharedSpaceCtrl.space.files" title="Created {{ file.createdAt | date : 'short' }}" ng-dblclick="sharedSpaceCtrl.openDocument(file.link)">
            <img ng-src="{{sharedSpaceCtrl.chooseIcon(file.fileType)}}" height="{{sharedSpaceCtrl.iconHeight * 2}}" alt="" />
            <br>
            <span class="bold">File type: </span>
            <span>{{ file.fyleType | typeOfFile }}</span>
            <br>
            <span class="bold">Name: </span>
            <span>{{ file.name }}</span>
            <br>
            <span class="bold">Description: </span>
            <span>{{ file.description }}</span>
            <br>
            <span class="bold">Author: </span>
            <span>{{ file.author.name }}</span>
        </div>
    </div>
    <div class="table-responsive blocked-table" ng-show="sharedSpaceCtrl.showTable">
        <table class="fixed_headers" context-menu="spaceCtrl.folderMenuOptions">
            <thead>
                <tr style="cursor: pointer">
                    <th class="name" style="width: 20%" ng-click="sharedSpaceCtrl.orderByColumn('name')">
                        Name
                        <span ng-show="sharedSpaceCtrl.columnForOrder == 'name'"><i class="fa fa-sort-asc"></i></span>
                        <span ng-show="sharedSpaceCtrl.columnForOrder == '-name'"><i class="fa fa-sort-desc"></i></span>
                    </th>
                    <th style="width: 33%" ng-click="sharedSpaceCtrl.orderByColumn('description')">
                        Description
                        <span ng-show="sharedSpaceCtrl.columnForOrder == 'description'"><i class="fa fa-sort-asc"></i></span>
                        <span ng-show="sharedSpaceCtrl.columnForOrder == '-description'"><i class="fa fa-sort-desc"></i></span>
                    </th>
                    <th style="width: 20%" ng-click="sharedSpaceCtrl.orderByColumn('author.name')">
                        Author
                        <span ng-show="sharedSpaceCtrl.columnForOrder == 'author.name'"><i class="fa fa-sort-asc"></i></span>
                        <span ng-show="sharedSpaceCtrl.columnForOrder == '-author.name'"><i class="fa fa-sort-desc"></i></span>
                    </th>
                    <th style="width: 15%" ng-click="sharedSpaceCtrl.orderByColumn('createdAt')">
                        Created
                        <span ng-show="sharedSpaceCtrl.columnForOrder == 'createdAt'"><i class="fa fa-sort-asc"></i></span>
                        <span ng-show="sharedSpaceCtrl.columnForOrder == '-createdAt'"><i class="fa fa-sort-desc"></i></span>
                    </th>
                    <th class="type" style="width: 10%" ng-click="sharedSpaceCtrl.orderByColumn('fileType')">
                        Type
                        <span ng-show="sharedSpaceCtrl.columnForOrder == 'fileType'"><i class="fa fa-sort-asc"></i></span>
                        <span ng-show="sharedSpaceCtrl.columnForOrder == '-fileType'"><i class="fa fa-sort-desc"></i></span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="shadow" role="button" ng-repeat="folder in sharedSpaceCtrl.space.folders | orderBy: sharedSpaceCtrl.columnForOrder" context-menu="sharedSpaceCtrl.folderMenuOptions" ng-dblclick="sharedSpaceCtrl.getFolderContent(folder.id); sharedSpaceCtrl.addElem(folder)">
                    <td style="width: 20%"><i class="fa fa-folder-o">&nbsp;</i>{{ folder.name }}</td>
                    <td style="width: 33%">{{ folder.description }}</td>
                    <td style="width: 20%">{{ folder.author.name }}</td>
                    <td style="width: 15%">{{ folder.createdAt | date:'dd-MM-yyyy HH:mm' }}</td>
                    <td style="width: 10%">Folder</td>
                </tr>
                <tr class="shadow" role="button" ng-repeat="file in sharedSpaceCtrl.space.files | orderBy: sharedSpaceCtrl.columnForOrder" context-menu="sharedSpaceCtrl.fileMenuOptions" ng-dblclick="sharedSpaceCtrl.openDocument(file.link)">
                    <td style="width: 20%">
                        <img ng-src="{{sharedSpaceCtrl.chooseIcon(file.fileType)}}" height="{{sharedSpaceCtrl.iconHeight}}" />
                        &nbsp;{{ file.name }}
                    </td>
                    <td style="width: 33%">{{ file.description }}</td>
                    <td style="width: 20%">{{ file.author.name }}</td>
                    <td style="width: 15%">{{ file.createdAt | date:'dd-MM-yyyy HH:mm' }}</td>
                    <td style="width: 10%">{{ file.fileType | typeOfFile }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="page-footer-center">
        <dir-pagination-controls class="page-footer" on-page-change="sharedSpaceCtrl.paginate.getContent(newPageNumber)"></dir-pagination-controls>
    </div>
</div>