<h2>Ros</h2>
<div class="container-fluid" style="overflow: hidden; height: 100%" context-menu="sharedSpaceCtrl.createOption">
    <br />
    <div class="btn-group btn-breadcrumb">
        <a class="btn btn-info" ng-click="sharedSpaceCtrl.getSpaceByButton()" title="{{sharedSpaceCtrl.space.name}}">
            <i class="fa fa-cloud fa-lg"></i>
            {{sharedSpaceCtrl.space.name | limitTo: 13}}{{sharedSpaceCtrl.space.name.length > 13 ? '...' : ''}}
        </a>
        <a ng-repeat="item in sharedSpaceCtrl.folderList" ng-click="sharedSpaceCtrl.getFolderContent(item.id); sharedSpaceCtrl.deleteElems(item)" title="{{item.name}}" class="btn btn-default">
            {{item.name | limitTo: 10}}{{item.name.length > 10 ? '...' : ''}}
        </a>
    </div>
    <div class="row" style="margin:1em 0 1em 0">
        <div class="col-lg-push-4-offset pull-right">
            <button class="btn btn-default" ng-click="sharedSpaceCtrl.changeView(sharedSpaceCtrl.view)">
                <i class={{sharedSpaceCtrl.view}} title="view"> </i>
            </button>
            <button type="button" class="btn btn-default btn-custom" ng-click="sharedSpaceCtrl.redirectToSpaceSettings(sharedSpaceCtrl.space.id)" title="Open Space Settings">
                <i class="fa fa-cog fa-lg"></i>
            </button>
        </div>
        <div class="form-inline">
            <div class="form-group col-sm-7 pull-left nopadding">
                <div class="col-sm-1 toolbar-div">
                    <button type="button" class="btn btn-custom btn-lg" ng-click="sharedSpaceCtrl.createNewFolder()" title="Create new folder">
                        <i class="fa fa-folder-open-o fa-lg" style="margin-right: 0px;"></i>
                    </button>
                </div>
                <div class="col-sm-1 toolbar-div">
                    <button type="button" class="btn btn-custom btn-lg" ng-click="sharedSpaceCtrl.createNewFile(1)" title="Create new document">
                        <i class="fa fa-file-text-o fa-lg"></i>
                    </button>
                </div>
                <div class="col-sm-1 toolbar-div">
                    <button type="button" class="btn btn-custom btn-lg" ng-click="sharedSpaceCtrl.createNewFile(2)" title="Create new sheet">
                        <i class="fa fa-table fa-lg"></i>
                    </button>
                </div>
                <div class="col-sm-1 toolbar-div">
                    <button type="button" class="btn btn-custom btn-lg" ng-click="sharedSpaceCtrl.createNewFile(3)" title="Create new slide">
                        <i class="fa fa-file-powerpoint-o fa-lg"></i>
                    </button>
                </div>
                <div class="col-sm-1 toolbar-div">
                    <button type="button" class="btn btn-custom btn-lg" ng-click="sharedSpaceCtrl.createNewFile(4)" title="Create new Trello">
                        <i class="fa fa-trello fa-lg"></i>
                    </button>
                </div>
                <div class="col-sm-1 toolbar-div">
                    <button type="button" class="btn btn-custom btn-lg" ng-click="sharedSpaceCtrl.createNewFile(5)" title="Create new link">
                        <i class="fa fa-link fa-lg"></i>
                    </button>
                </div>
                <div class="col-sm-1 toolbar-div">
                    <button type="button" class="btn btn-custom btn-lg" ng-click="sharedSpaceCtrl.createNewFile(6)" title="Upload new file">
                        <i class="fa fa-upload fa-lg"></i>
                    </button>
                </div>
            </div>
        </div>
        <div>
            <div class="col-sm-3 pull-right">
                <div>
                    <form role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search input" name="srch-term" id="srch-term" ng-model="sharedSpaceCtrl.searchText">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default" aria-label="Cancel search" ng-click="sharedSpaceCtrl.cancelSearch()" ng-show='sharedSpaceCtrl.searchText != ""' style="padding:6px 6px;"><span style="margin-right:0" class="glyphicon glyphicon-remove-circle"></span></button>
                                <button class="btn btn-default" type="submit" ng-click="sharedSpaceCtrl.search()">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <span us-spinner="{radius:30, width:8, length: 16}"></span>
    <div class="scroll-hide">
        <div class="scrollable-row">
            <div class="wrap" ng-show="sharedSpaceCtrl.showGrid">
                <div class="small">
                    <div role="button" class="s-block btn-default shadow" context-menu="sharedSpaceCtrl.folderMenuOptions" dir-paginate="folder in sharedSpaceCtrl.space.folders | itemsPerPage: sharedSpaceCtrl.paginate.pageSize" total-items="sharedSpaceCtrl.paginate.numberOfItems" current-page="sharedSpaceCtrl.paginate.currentPage" title="Created {{ folder.createdAt | date : 'short' }}" ng-dblclick="sharedSpaceCtrl.getFolderContent(folder.id); sharedSpaceCtrl.addElem(folder)">
                        <i class="fa fa-folder-o fa-5x"></i>
                        <br>
                        <span class="bold">Name: </span>
                        <span>{{ folder.name }}</span>
                        <br>
                        <span class="bold">Description: </span>
                        <span>{{ folder.description }}</span>
                        <br>
                        <span class="bold">Author: </span>
                        <span>{{ folder.author.name }}</span>
                    </div>
                </div>
                <div class="small">
                    <div role="button" class="s-block btn-default shadow" context-menu="sharedSpaceCtrl.folderMenuOptions" ng-repeat="file in sharedSpaceCtrl.space.files" title="Created {{ file.createdAt | date : 'short' }}">
                        <i class="fa fa-file-o fa-5x"></i>
                        <br>
                        <span class="bold">File type: </span>
                        <span>{{ file.fyleType | typeOfFile }}</span>
                        <br>
                        <span class="bold">Name: </span>
                        <span>{{ file.name }}</span>
                        <br>
                        <span class="bold">Description: </span>
                        <span>{{ file.description }}</span>
                        <br>
                        <span class="bold">Author: </span>
                        <span>{{ file.author.name }}</span>
                    </div>
                </div>
            </div>
            <div class="table-responsive" context-menu="sharedSpaceCtrl.createOption" ng-show="sharedSpaceCtrl.showTable">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="name" style="width: 20%">Name</th>
                        <th>Description</th>
                        <th style="width: 15%">Author</th>
                        <th style="width: 15%">
                            Created
                            <span class="sortorder" ng-class="{reverse: sharedSpaceCtrl.reverse}" ng-click="sharedSpaceCtrl.changeOrder()"></span>
                        </th>
                        <th class="type" style="width: 10%">Type</th>
                    </tr>
                    </thead>
                    <tr class="shadow" role="button" ng-repeat="folder in sharedSpaceCtrl.space.folders" context-menu="sharedSpaceCtrl.folderMenuOptions" ng-dblclick="sharedSpaceCtrl.getFolderContent(folder.id); sharedSpaceCtrl.addElem(folder)">
                        <td><i class="fa fa-folder-o">&nbsp;</i>{{ folder.name }}</td>
                        <td>{{ folder.description }}</td>
                        <td>{{ folder.author.name }}</td>
                        <td>{{ folder.createdAt | date:'dd-MM-yyyy HH:mm' }}</td>
                        <td>Folder</td>
                    </tr>
                    <tr class="shadow" role="button" ng-repeat="file in sharedSpaceCtrl.space.files" context-menu="sharedSpaceCtrl.fileMenuOptions" ng-dblclick="sharedSpaceCtrl.openDocument(file.link)">
                        <td> <i class="fa fa-file-o">&nbsp;</i>{{ file.name }}</td>
                        <td>{{ file.description }}</td>
                        <td>{{ file.author.name }}</td>
                        <td>{{ file.createdAt | date:'dd-MM-yyyy HH:mm' }}</td>
                        <td>{{ file.fileType | typeOfFile }}</td>
                    </tr>
                </table>
            </div>
        </div>
        </div>
    <div class="row text-center" style="height : 6em">
        <dir-pagination-controls class="page-footer" on-page-change="sharedSpaceCtrl.paginate.getContent(newPageNumber)"></dir-pagination-controls>
    </div>
</div>