
<style type="text/css">
    /*List style*/
    .ul {
        list-style: none;
        padding: 0;
        margin-left: 110px;
    }

    .list {
        padding-left: 1.3em;
    }

        .list:before {
            content: "\f00c"; /* FontAwesome Unicode */
            font-family: FontAwesome;
            display: inline-block;
            margin-left: -1.3em;
            width: 1.3em;
        }
    /*End List style*/

    /*Button for adding content*/
    .button-add {
        margin-left: 125px;
    }
    /*End Button for adding content*/

    /*Create new lecture view*/
    .create-lecture-wrap {
        position: relative;
        width: 100%;
        color: #333;
        margin-top: 20px;
        overflow-y: auto;
        overflow-x: hidden;
        height: 73vh;
    }
    /*End Create new lecture view*/
</style>

<div class="container-fluid">
    <br />
    <div class="btn-group btn-breadcrumb">
        <a class="btn btn-info"><i class="fa fa-graduation-cap fa-lg"></i> Academy Pro</a>
    </div>
    <h2>
        {{lectureCreateCtrl.lecture.name ? lectureCreateCtrl.lecture.name : 'Create new lecture'}}
        <div style="display: inline-block;">
            <button class="btn btn-info" ng-click="lectureCreateCtrl.create()" title="Create new lecture" ng-disabled="courseForm.$invalid">
                <i class="fa fa-plus-circle fa-lg"></i>  Create
            </button>
        </div>
    </h2>
    <br />
    <div>
        <span us-spinner="{radius:30, width:8, length: 16}"></span>
        <div class="create-lecture-wrap">
            <div class="container">
                <div class="col-md-12">
                    <form name="courseForm" ng-submit="submitForm()" class="form-horizontal" novalidate>
                        <div class="form-group" ng-class="{ 'has-error' : courseForm.name.$invalid && !courseForm.name.$pristine }">
                            <label class="col-sm-2">Lecture name:</label>
                            <input type="text" name="name" id="name" class="form-control text-valid" ng-pattern="/^[\w -]*$/" ng-model="lectureCreateCtrl.lecture.name" placeholder="Lecture name" required>
                            <p ng-show="courseForm.name.$error.required && courseForm.name.$touched" class="help-block col-sm-offset-2">Name is required.</p>
                            <p ng-show="courseForm.name.$error.pattern" class="help-block col-sm-offset-2">Not a valid name.</p>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2">Description:</label>
                            <textarea type="text" name="description" class="form-control" id="description" ng-model="lectureCreateCtrl.lecture.description" placeholder="Enter description"></textarea>
                        </div>
                        <div class="form-group datetimepicker" ng-class="{ 'has-error' : courseForm.date.$invalid && !courseForm.date.$pristine }">
                            <label class="col-sm-2">Start date:</label>
                            <p class="input-group">
                                <span class="input-group-btn">
                                    <input type="datetime" name="date" id="date" class="form-control" datetime-picker="yyyy-MM-dd HH:mm" ng-model="lectureCreateCtrl.lecture.startDate" is-open="lectureCreateCtrl.calendar.isOpen" placeholder="Select start date" timepicker-options="lectureCreateCtrl.calendar.timepickerOptions" required />
                                    <button type="button" class="btn btn-default" ng-click="lectureCreateCtrl.calendar.openCalendar($event, prop)"><i class="fa fa-calendar"></i></button>
                                </span>
                            <p ng-show="courseForm.date.$error.required && courseForm.date.$touched" class="help-block col-sm-offset-2">Date is required</p>
                            <p ng-show="courseForm.date.$error.datetime" class="help-block col-sm-offset-2">Not a valid date</p>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-12" style="padding: 0;">
                <uib-accordion close-others="true">
                    <create-links links-model="lectureCreateCtrl.lecture.videoLinks"
                                  links-name="Videos"
                                  image-class="fa fa-video-camera fa-lg">
                    </create-links>
                    <create-links links-model="lectureCreateCtrl.lecture.slidesLinks"
                                  links-name="Slides"
                                  image-class="fa fa-file-powerpoint-o fa-lg">
                    </create-links>
                    <create-links links-model="lectureCreateCtrl.lecture.repositoryLinks"
                                  links-name="Repositories"
                                  image-class="fa fa-github fa-lg">
                    </create-links>
                    <create-links links-model="lectureCreateCtrl.lecture.sampleLinks"
                                  links-name="Code samples"
                                  image-class="fa fa-code fa-lg">
                    </create-links>
                    <create-links links-model="lectureCreateCtrl.lecture.usefulLinks"
                                  links-name="Useful links"
                                  image-class="fa fa-link fa-lg">
                    </create-links>
                    <div uib-accordion-group class="panel-default" is-open="status.open6" title="Home task">
                        <uib-accordion-heading>
                            <i class="fa fa-paper-plane-o fa-lg" aria-hidden="true"></i> Home task <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open6, 'glyphicon-chevron-right': !status.open6}"></i>
                        </uib-accordion-heading>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table users table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th style="width:30%">Deadline</th>
                                                <th style="width:60%">Description</th>
                                                <th style="width:10%"></th>
                                            </tr>
                                        </thead>
                                        <tbody style="overflow-x: hidden;">
                                            <tr ng-repeat="task in lectureCreateCtrl.lecture.homeTasks">
                                                <td style="width: 30%" class="description" title="{{task.deadlineDate}}">
                                                    {{ task.deadlineDate | limitTo: 16}}{{task.deadlineDate.length > 16 ? '...' : '' }}
                                                </td>
                                                <td style="width: 60%" class="description" title="{{task.description}}">
                                                    {{ task.description | limitTo: 36 }}{{task.description.length > 36 ? '...' : '' }}
                                                </td>
                                                <td style="width:10%">
                                                    <i role="button" class="fa fa-pencil-square-o fa-lg" ng-click="editLink($index)" title="Edit link" aria-hidden="true"></i>
                                                    <i role="button" class="fa fa-trash fa-lg" ng-click="removeLink($index)" title="Delete link" aria-hidden="true"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <form name="taskForm" ng-submit="lectureCreateCtrl.submitTask()" class="form-horizontal" novalidate>
                                        <div class="form-group" ng-class="{ 'has-error' : taskForm.taskDescription.$invalid && !taskForm.taskDescription.$pristine }">
                                            <label class="col-sm-3">Description:</label>
                                            <textarea type="text" name="taskDescription" id="taskDescription" class="form-control text-valid" ng-pattern="/^[\w -]*$/" ng-model="lectureCreateCtrl.currentTask.description" placeholder="Description" required></textarea>
                                            <p ng-show="taskForm.taskDescription.$error.required && taskForm.taskDescription.$touched" class="help-block col-sm-offset-3" ng-cloak>Description is required</p>
                                            <p ng-show="taskForm.taskDescription.$error.pattern" class="help-block col-sm-offset-3" ng-cloak>Not a valid description</p>
                                        </div>
                                        <div class="form-group datetimepicker" ng-class="{ 'has-error' : taskForm.deadlineDate.$invalid && !taskForm.deadlineDate.$pristine }">
                                            <label class="col-sm-3">Deadline:</label>
                                            <p class="input-group">
                                                <span class="input-group-btn">
                                                    <input type="datetime" name="deadlineDate" id="deadlineDate" class="form-control" datetime-picker="yyyy-MM-dd HH:mm" ng-model="lectureCreateCtrl.currentTask.deadlineDate" is-open="lectureCreateCtrl.calendarHomeTask.isOpen" placeholder="Select deadline date" timepicker-options="lectureCreateCtrl.calendarHomeTask.timepickerOptions" required />
                                                    <button type="button" class="btn btn-default" ng-click="lectureCreateCtrl.calendarHomeTask.openCalendarHomeTask($event, prop)"><i class="fa fa-calendar"></i></button>
                                                </span>
                                                <p ng-show="taskForm.deadlineDate.$error.required && taskForm.deadlineDate.$touched" class="help-block col-sm-offset-3">Date is required</p>
                                                <p ng-show="taskForm.deadlineDate.$error.datetime" class="help-block col-sm-offset-3">Not a valid date</p>
                                            </p>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3"></label>
                                            <button type="submit" class="btn btn-info" ng-disabled="taskForm.$invalid">
                                                <i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i> Add task
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-accordion>
            </div>
        </div>
    </div>
</div>