<div>
    <div uib-accordion-group class="panel-default" is-open="status.open" is-disabled="status.isFirstDisabled">
        <uib-accordion-heading>
            <i ng-class="imageClass" aria-hidden="true"></i> {{linksName}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open1, 'glyphicon-chevron-right': !status.open1}"></i>
        </uib-accordion-heading>
        <div class="col-md-10">
            <div class="row">
                <div>
                    <ul class="ul">
                        <li class="list" ng-repeat="link in internalLinks">{{link.name}} ({{link.link}})</li>
                    </ul>
                </div>
                <form name="form" ng-submit="saveLink()" class="form-horizontal" novalidate>
                    <div class="form-group" ng-class="{ 'has-error' : form.name.$invalid && !form.name.$pristine }">
                        <label class="col-sm-2">Name:</label>
                        <input type="text" name="name" id="name" class="form-control text-valid" ng-pattern="/^[\w -]*$/" ng-model="linkModel.name" placeholder="Name" required>
                        <p ng-show="form.name.$error.required && form.name.$touched" class="help-block col-sm-offset-2" ng-cloak>Name is required</p>
                        <p ng-show="form.name.$error.pattern" class="help-block col-sm-offset-2" ng-cloak>Not a valid name</p>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2">Description:</label>
                        <input type="text" name="description" class="form-control" ng-attr-id="description" ng-model="linkModel.description" placeholder="Description">
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : form.link.$invalid && !form.link.$pristine }">
                        <label class="col-sm-2">Link:</label>
                        <input type="url" ng-attr-name="link" class="form-control text-valid" ng-attr-id="link" ng-model="linkModel.link" placeholder="Link" required>
                        <p ng-show="form.link.$error.required && form.link.$touched" class="help-block col-sm-offset-2" ng-cloak>Link is required</p>
                        <p ng-show="form.link.$error.url" class="help-block col-sm-offset-2" ng-cloak>Not a valid link</p>
                    </div>
                    <div class="button-add">
                        <button type="submit" class="btn btn-info" ng-disabled="form.$invalid">
                            <i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i> Add video
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
