
<style type="text/css">
    /*List style*/
    .ul {
        list-style: none;
        padding: 0;
        margin-left: 110px;
    }

    .list {
        padding-left: 1.3em;
    }

        .list:before {
            content: "\f00c"; /* FontAwesome Unicode */
            font-family: FontAwesome;
            display: inline-block;
            margin-left: -1.3em;
            width: 1.3em;
        }
    /*End List style*/

    /*Button for adding content*/
    .button-add {
        margin-left: 125px;
    }
    /*End Button for adding content*/

    /*Create new lecture view*/
    .create-lecture-wrap {
        position: relative;
        width: 100%;
        color: #333;
        margin-top: 20px;
        overflow-y: auto;
        overflow-x: hidden;
        height: 73vh;
    }
    /*End Create new lecture view*/
</style>

<div class="container-fluid">
    <br />
    <div class="btn-group btn-breadcrumb">
        <a ng-click="lectureCreateCtrl.getCourseList()" class="btn btn-info"><i class="fa fa-graduation-cap fa-lg"></i> Academy Pro</a>
        <a href="#/apps/academy/{{lectureCreateCtrl.currentAcademyId}}" ng-click="lectureCreateCtrl.getAcademy(lectureCreateCtrl.currentAcademyId)" title="{{lectureCreateCtrl.academy.fileUnit.name}}" class="btn btn-default">
            {{lectureCreateCtrl.academy.fileUnit.name | limitTo: 10}}{{lectureCreateCtrl.academy.fileUnit.name.length > 10 ? '...' : ''}}
        </a>
        <a title="{{lectureCreateCtrl.lecture.name ? lectureCreateCtrl.lecture.name : 'Create new lecture'}}" class="btn btn-default">
            {{lectureCreateCtrl.lecture.name ? lectureCreateCtrl.lecture.name : 'Create new lecture' | limitTo: 18}}{{lectureCreateCtrl.lecture.name.length > 18 ? '...' : ''}}
        </a>
    </div>
    <h2>
        {{lectureCreateCtrl.lecture.name ? lectureCreateCtrl.lecture.name : 'Create new lecture' | limitTo: 25}}{{lectureCreateCtrl.lecture.name.length > 25 ? '...' : ''}}
        <div style="display: inline-block;">
            <button class="btn btn-info" ng-click="lectureCreateCtrl.create()" title="Create new lecture" ng-disabled="courseForm.$invalid">
                <i class="fa fa-plus-circle fa-lg"></i>  Create
            </button>
        </div>
    </h2>
    <br />
    <div>
        <span us-spinner="{radius:30, width:8, length: 16}"></span>
        <div class="create-lecture-wrap">
            <div class="container">
                <div class="col-md-12">
                    <form name="courseForm" ng-submit="submitForm()" class="form-horizontal" novalidate>
                        <div class="form-group" ng-class="{ 'has-error' : courseForm.name.$invalid && !courseForm.name.$pristine }">
                            <label class="col-sm-2">Lecture name:</label>
                            <input type="text" name="name" id="name" class="form-control text-valid" ng-pattern="/^[\w -]*$/" ng-model="lectureCreateCtrl.lecture.name" placeholder="Lecture name" required>
                            <p ng-show="courseForm.name.$error.required && courseForm.name.$touched" class="help-block col-sm-offset-2">Name is required</p>
                            <p ng-show="courseForm.name.$error.pattern" class="help-block col-sm-offset-2">Not a valid name</p>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2">Description:</label>
                            <textarea type="text" name="description" class="form-control" id="description" ng-model="lectureCreateCtrl.lecture.description" placeholder="Enter description"></textarea>
                        </div>
                        <div class="form-group datetimepicker" ng-class="{ 'has-error' : courseForm.date.$invalid && !courseForm.date.$pristine }">
                            <label class="col-sm-2">Start date:</label>
                            <p class="input-group">
                                <span class="input-group-btn">
                                    <input ng-model-options="{timezone:'+0000'}" type="datetime" name="date" id="date" class="form-control" datetime-picker="yyyy-MM-dd HH:mm" ng-model="lectureCreateCtrl.lecture.startDate" is-open="lectureCreateCtrl.calendar.isOpen" placeholder="Select start date" timepicker-options="lectureCreateCtrl.calendar.timepickerOptions" required />
                                    <button type="button" class="btn btn-default" ng-click="lectureCreateCtrl.calendar.openCalendar($event, prop)"><i class="fa fa-calendar"></i></button>
                                </span>
                            <p ng-show="courseForm.date.$error.required && courseForm.date.$touched" class="help-block col-sm-offset-2">Date is required</p>
                            <p ng-show="courseForm.date.$error.datetime" class="help-block col-sm-offset-2">Not a valid date</p>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-12" style="padding: 0;">
                <uib-accordion close-others="true">
                    <create-links links-model="lectureCreateCtrl.lecture.videoLinks"
                                  links-name="Videos"
                                  image-class="fa fa-video-camera fa-lg">
                    </create-links>
                    <create-links links-model="lectureCreateCtrl.lecture.slidesLinks"
                                  links-name="Slides"
                                  image-class="fa fa-file-powerpoint-o fa-lg">
                    </create-links>
                    <create-links links-model="lectureCreateCtrl.lecture.repositoryLinks"
                                  links-name="Repositories"
                                  image-class="fa fa-github fa-lg">
                    </create-links>
                    <create-links links-model="lectureCreateCtrl.lecture.sampleLinks"
                                  links-name="Code samples"
                                  image-class="fa fa-code fa-lg">
                    </create-links>
                    <create-links links-model="lectureCreateCtrl.lecture.usefulLinks"
                                  links-name="Useful links"
                                  image-class="fa fa-link fa-lg">
                    </create-links>
                    <div uib-accordion-group class="panel-default" is-open="status.open6" title="Home task">
                        <uib-accordion-heading>
                            <i class="fa fa-paper-plane-o fa-lg" aria-hidden="true"></i> Home task <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open6, 'glyphicon-chevron-right': !status.open6}"></i>
                        </uib-accordion-heading>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-sm-6">
                                    <form name="taskForm" ng-submit="lectureCreateCtrl.submitUseful()" class="form-horizontal" novalidate>
                                        <div class="form-group" ng-class="{ 'has-error' : taskForm.usefulName.$invalid && !taskForm.usefulName.$pristine }">
                                            <label class="col-sm-3">Description:</label>
                                            <textarea type="text" name="usefulName" id="usefulName" class="form-control text-valid" ng-pattern="/^[\w -]*$/" ng-model="lectureCreateCtrl.currentUseful.name" placeholder="Description" required></textarea>
                                            <p ng-show="taskForm.usefulName.$error.required && taskForm.usefulName.$touched" class="help-block col-sm-offset-3" ng-cloak>Description is required</p>
                                            <p ng-show="taskForm.usefulName.$error.pattern" class="help-block col-sm-offset-3" ng-cloak>Not a valid description</p>
                                        </div>
                                        <div class="form-group datetimepicker" ng-class="{ 'has-error' : taskForm.taskDate.$invalid && !taskForm.taskDate.$pristine }">
                                            <label class="col-sm-3">Deadline:</label>
                                            <p class="input-group">
                                                <span class="input-group-btn">
                                                    <input type="datetime" name="taskDate" id="taskDate" class="form-control" datetime-picker="yyyy-MM-dd HH:mm" ng-model="lectureCreateCtrl.hometask.startDate" is-open="lectureCreateCtrl.calendarHomeTask.isOpen" placeholder="Select deadline date" timepicker-options="lectureCreateCtrl.calendarHomeTask.timepickerOptions" required />
                                                    <button type="button" class="btn btn-default" ng-click="lectureCreateCtrl.calendarHomeTask.openCalendarHomeTask($event, prop)"><i class="fa fa-calendar"></i></button>
                                                </span>
                                            <p ng-show="taskForm.taskDate.$error.required && taskForm.taskDate.$touched" class="help-block col-sm-offset-3">Date is required</p>
                                            <p ng-show="taskForm.taskDate.$error.datetime" class="help-block col-sm-offset-3">Not a valid date</p>
                                            </p>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3"></label>
                                            <button type="submit" class="btn btn-info" ng-disabled="taskForm.$invalid">
                                                <i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i> Add task
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="ul">
                                        <li class="list" ng-repeat="useful in lectureCreateCtrl.lecture.usefulLinks">{{useful.name}} ({{useful.link}})</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-accordion>
            </div>
        </div>
    </div>
</div>