
<div class="container-fluid">
    <br />
    <div class="btn-group btn-breadcrumb">
        <a ng-click="lectureCreateCtrl.getCourseList()" class="btn btn-info"><i class="fa fa-graduation-cap fa-lg"></i> Academy Pro</a>
        <a ng-click="lectureCreateCtrl.getCourse(lectureCreateCtrl.currentAcademyId)" title="{{lectureCreateCtrl.academy.fileUnit.name}}" class="btn btn-default">
            {{lectureCreateCtrl.academy.fileUnit.name | limitTo: 10}}{{lectureCreateCtrl.academy.fileUnit.name.length > 10 ? '...' : ''}}
        </a>
        <a title="{{lectureCreateCtrl.lecture.name ? lectureCreateCtrl.lecture.name : 'Create new lecture'}}" class="btn btn-default">
            {{lectureCreateCtrl.lecture.name ? lectureCreateCtrl.lecture.name : 'Create new lecture' | limitTo: 18}}{{lectureCreateCtrl.lecture.name.length > 18 ? '...' : ''}}
        </a>
    </div>
    <h2>
        {{lectureCreateCtrl.lecture.name ? lectureCreateCtrl.lecture.name : 'Create new lecture' | limitTo: 25}}{{lectureCreateCtrl.lecture.name.length > 25 ? '...' : ''}}
        <div style="display: inline-block;">
            <button class="btn btn-info" ng-click="lectureCreateCtrl.create()" title="Create new lecture" ng-disabled="courseForm.$invalid">
                <i class="fa fa-plus-circle fa-lg"></i>  Create
            </button>
        </div>
    </h2>
    <br />
    <div>
        <div class="create-lecture-wrap">
            <div class="container">
                <div class="col-md-12" style="padding-left: 0">
                    <form name="courseForm" ng-submit="submitForm()" class="form-horizontal" novalidate>
                        <div class="form-group" ng-class="{ 'has-error' : courseForm.name.$invalid && !courseForm.name.$pristine }">
                            <label class="col-sm-2 create-lecture-form">Lecture name:</label>
                            <input type="text" name="name" id="name" class="form-control text-valid" ng-pattern="/^[\w -]*$/" ng-model="lectureCreateCtrl.lecture.name" placeholder="Lecture name" required>
                            <p ng-show="courseForm.name.$error.required && courseForm.name.$touched" class="help-block col-sm-offset-2 lecture-validation">Name is required</p>
                            <p ng-show="courseForm.name.$error.pattern" class="help-block col-sm-offset-2 lecture-validation">Not a valid name</p>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 create-lecture-form">Description:</label>
                            <textarea type="text" name="description" class="form-control" id="description" ng-model="lectureCreateCtrl.lecture.description" placeholder="Enter description"></textarea>
                        </div>
                        <div class="form-group datetimepicker" ng-class="{ 'has-error' : courseForm.date.$invalid && !courseForm.date.$pristine }">
                            <label class="col-sm-2 create-lecture-form">Start date:</label>
                            <p class="input-group">
                                <span class="input-group-btn">
                                    <input ng-model-options="{timezone:'+0000'}" type="datetime" name="date" id="date" class="form-control" datetime-picker="yyyy-MM-dd HH:mm" ng-model="lectureCreateCtrl.lecture.startDate" is-open="lectureCreateCtrl.calendar.isOpen" placeholder="Select start date" timepicker-options="lectureCreateCtrl.calendar.timepickerOptions" required />
                                    <button type="button" class="btn btn-default" ng-click="lectureCreateCtrl.calendar.openCalendar($event, prop)"><i class="fa fa-calendar"></i></button>
                                </span>
                            <p ng-show="courseForm.date.$error.required && courseForm.date.$touched" class="help-block col-sm-offset-2 lecture-validation">Date is required</p>
                            <p ng-show="courseForm.date.$error.datetime" class="help-block col-sm-offset-2 lecture-validation">Not a valid date</p>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-12" style="padding: 0;">
                <uib-accordion close-others="true">
                    <create-links links-model="lectureCreateCtrl.lecture.videoLinks"
                                  links-name="Videos"
                                  image-class="fa fa-video-camera fa-lg">
                    </create-links>
                    <create-links links-model="lectureCreateCtrl.lecture.slidesLinks"
                                  links-name="Slides"
                                  image-class="fa fa-file-powerpoint-o fa-lg">
                    </create-links>
                    <create-links links-model="lectureCreateCtrl.lecture.repositoryLinks"
                                  links-name="Repositories"
                                  image-class="fa fa-github fa-lg">
                    </create-links>
                    <create-links links-model="lectureCreateCtrl.lecture.sampleLinks"
                                  links-name="Code samples"
                                  image-class="fa fa-code fa-lg">
                    </create-links>
                    <create-links links-model="lectureCreateCtrl.lecture.usefulLinks"
                                  links-name="Useful links"
                                  image-class="fa fa-link fa-lg">
                    </create-links>
                    <div uib-accordion-group class="panel-default" is-open="status.open2">
                        <uib-accordion-heading>
                            <i class="fa fa-paper-plane-o fa-lg" aria-hidden="true"></i> Home task <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open2, 'glyphicon-chevron-right': !status.open2}"></i>
                        </uib-accordion-heading>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table users table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th style="width:20%">Deadline</th>
                                                <th style="width:70%">Description</th>
                                                <th style="width:10%"></th>
                                            </tr>
                                        </thead>
                                        <tbody style="overflow-x: hidden;">
                                            <tr ng-repeat="task in lectureCreateCtrl.lecture.homeTasks">
                                                <td style="width: 20%" class="description" title="{{ task.deadlineDate | date:'dd-MM-yyyy HH:mm' : 'UTC' }}">
                                                    {{ task.deadlineDate | date:'dd-MM-yyyy HH:mm' : 'UTC' }}
                                                </td>
                                                <td style="width: 70%" class="description" title="{{task.description}}">
                                                    {{ task.description | limitTo: 80 }}{{task.description.length > 80 ? '...' : '' }}
                                                </td>
                                                <td style="width:10%">
                                                    <i role="button" class="fa fa-pencil-square-o fa-lg" ng-click="lectureCreateCtrl.editTask($index)" title="Edit home task" aria-hidden="true"></i>
                                                    <i role="button" class="fa fa-trash fa-lg" ng-click="lectureCreateCtrl.removeTask($index)" title="Delete home task" aria-hidden="true"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <form name="taskForm" ng-submit="lectureCreateCtrl.submitTask()" class="form-horizontal" novalidate>
                                        <div class="form-group" ng-class="{ 'has-error' : taskForm.taskDescription.$invalid && !taskForm.taskDescription.$pristine }">
                                            <label class="col-sm-3">Description:</label>
                                            <textarea type="text" name="taskDescription" id="taskDescription" class="form-control text-valid" ng-pattern="/^[\w -]*$/" ng-model="lectureCreateCtrl.currentTask.description" placeholder="Description" required></textarea>
                                            <p ng-show="taskForm.taskDescription.$error.required && taskForm.taskDescription.$touched" class="help-block col-sm-offset-3" ng-cloak>Description is required</p>
                                            <p ng-show="taskForm.taskDescription.$error.pattern" class="help-block col-sm-offset-3" ng-cloak>Not a valid description</p>
                                        </div>
                                        <div class="form-group datetimepicker" ng-class="{ 'has-error' : taskForm.deadlineDate.$invalid && !taskForm.deadlineDate.$pristine }">
                                            <label class="col-sm-3">Deadline:</label>
                                            <p class="input-group">
                                                <span class="input-group-btn">
                                                    <input ng-model-options="{timezone:'+0000'}" type="datetime" name="deadlineDate" id="deadlineDate" class="form-control" datetime-picker="yyyy-MM-dd HH:mm" ng-model="lectureCreateCtrl.currentTask.deadlineDate" is-open="lectureCreateCtrl.calendarHomeTask.isOpen" placeholder="Select deadline date" timepicker-options="lectureCreateCtrl.calendarHomeTask.timepickerOptions" required />
                                                    <button type="button" class="btn btn-default" ng-click="lectureCreateCtrl.calendarHomeTask.openCalendarHomeTask($event, prop)"><i class="fa fa-calendar"></i></button>
                                                </span>
                                            <p ng-show="taskForm.deadlineDate.$error.required && taskForm.deadlineDate.$touched" class="help-block col-sm-offset-3">Date is required</p>
                                            <p ng-show="taskForm.deadlineDate.$error.datetime" class="help-block col-sm-offset-3">Not a valid date</p>
                                            </p>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3"></label>
                                            <button type="submit" class="btn btn-info" ng-disabled="taskForm.$invalid">
                                                <i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i> Add task
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-accordion>
            </div>
        </div>
    </div>
</div>