
<style type="text/css">
    /*Lecture timeline*/
    .timeline {
        list-style: none;
        padding: 20px 0 20px;
        position: relative;
    }

        .timeline > li {
            margin-bottom: 20px;
            position: relative;
            width: 86%;
        }

            .timeline > li:after {
                content: " ";
                display: table;
            }

            .timeline > li:after {
                clear: both;
            }

            .timeline > li:after {
                content: " ";
                display: table;
            }

            .timeline > li:after {
                clear: both;
            }

            .timeline > li > .timeline-panel {
                width: calc( 100% - 75px );
                float: left;
                border: 1px solid #d4d4d4;
                border-radius: 2px;
                padding: 20px;
                position: relative;
                -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
                box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            }

                .timeline > li > .timeline-panel:before {
                    position: absolute;
                    top: 26px;
                    right: -15px;
                    display: inline-block;
                    border-top: 15px solid transparent;
                    border-left: 15px solid #ccc;
                    border-right: 0 solid #ccc;
                    border-bottom: 15px solid transparent;
                    content: " ";
                }

                .timeline > li > .timeline-panel:after {
                    position: absolute;
                    top: 27px;
                    right: -14px;
                    display: inline-block;
                    border-top: 14px solid transparent;
                    border-left: 14px solid #fff;
                    border-right: 0 solid #fff;
                    border-bottom: 14px solid transparent;
                    content: " ";
                }

            .timeline > li > .timeline-badge {
                color: #fff;
                width: 50px;
                height: 50px;
                line-height: 50px;
                font-size: 1.4em;
                text-align: center;
                position: absolute;
                top: 16px;
                right: 0px;
                margin-left: -25px;
                background-color: #999999;
                z-index: 100;
                border-top-right-radius: 50%;
                border-top-left-radius: 50%;
                border-bottom-right-radius: 50%;
                border-bottom-left-radius: 50%;
            }

            .timeline > li.timeline-inverted > .timeline-panel {
                float: right;
            }

                .timeline > li.timeline-inverted > .timeline-panel:before {
                    border-left-width: 0;
                    border-right-width: 15px;
                    left: -15px;
                    right: auto;
                }

                .timeline > li.timeline-inverted > .timeline-panel:after {
                    border-left-width: 0;
                    border-right-width: 14px;
                    left: -14px;
                    right: auto;
                }

    .timeline-badge.primary {
        background-color: #2e6da4 !important;
    }

    .timeline-badge.success {
        background-color: #3f903f !important;
    }

    .timeline-badge.warning {
        background-color: #f0ad4e !important;
    }

    .timeline-badge.danger {
        background-color: #d9534f !important;
    }

    .timeline-badge.info {
        background-color: #5bc0de !important;
    }

    .timeline-title {
        margin-top: 0;
        color: inherit;
    }

    .timeline-body > p,
    .timeline-body > ul {
        margin-bottom: 0;
    }

        .timeline-body > p + p {
            margin-top: 5px;
        }
    /*End Lecture timeline*/

    /*Cards*/
    @import url(http://fonts.googleapis.com/css?family=Roboto:400,300);

    .card .card-image {
        overflow: hidden;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

    .card {
        font-family: 'Roboto', sans-serif;
        width: 640px;
        margin-top: 10px;
        margin-left: 25%;
        margin-right: 5%;
        position: relative;
        -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 4 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }

        .card .card-content {
            padding: 10px;
        }

            .card .card-content .card-title, .card-title {
                font-size: 24px;
                font-weight: 200;
            }

        .card .card-action {
            padding: 20px;
            border-top: 1px solid rgba(160, 160, 160, 0.2);
        }

            .card .card-action a {
                font-size: 15px;
                color: #ffab40;
                text-transform: uppercase;
                margin-right: 20px;
                -webkit-transition: color 0.3s ease;
                -moz-transition: color 0.3s ease;
                -o-transition: color 0.3s ease;
                -ms-transition: color 0.3s ease;
                transition: color 0.3s ease;
            }

                .card .card-action a:hover {
                    color: #ffd8a6;
                    text-decoration: none;
                }
    /*End Cards*/

    /*Callout for links*/
    .bs-callout {
        padding: 20px;
        margin: 20px 0;
        border: 0px solid #eee;
        border-left-width: 5px;
        border-radius: 3px;
    }

    .bs-callout-info {
        border-left-color: #5bc0de;
    }

    .bs-callout h4 {
        margin-top: 0;
        margin-bottom: 5px;
    }

    .bs-callout-info h4 {
        color: #2e618d;
    }
    /*End Callout for links*/
</style>

<div class="container-fluid">
    <br />
    <div class="btn-group btn-breadcrumb">
        <a class="btn btn-info"><i class="fa fa-graduation-cap fa-lg"></i> Academy Pro</a>
    </div>
    <div>
        <span us-spinner="{radius:30, width:8, length: 16}"></span>
        <div class="container">
            <div class="page-header">
                <h1 id="timeline">{{lectureCtrl.lecture.name}}</h1>
            </div>
            <ul class="timeline">
                <li>
                    <div class="timeline-badge info" title="Videos">
                        <i class="fa fa-video-camera fa-lg" aria-hidden="true"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Videos</h4>
                        </div>
                        <div class="timeline-body">
                            <div class="col-md-6">
                                <div class="card" ng-repeat="video in lectureCtrl.lecture.videoLinks">
                                    <div class="card-image">
                                        <div>
                                            <div>
                                                <youtube-video video-url="video.link"></youtube-video>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-content">
                                        <span class="card-title">{{video.name}}</span>
                                    </div>
                                    <div class="card-action">
                                        <p>{{video.description}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge info" title="Slides">
                        <i class="fa fa-file-powerpoint-o fa-lg" aria-hidden="true"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Slides</h4>
                        </div>
                        <div class="timeline-body">
                            <div class="col-md-6">
                                <div class="card" ng-repeat="slide in lectureCtrl.lecture.slidesLinks">
                                    <div class="card-image">
                                        <div>
                                            <div>
                                                <iframe ng-src="{{lectureCtrl.trustSrc(slide.link)}}" frameborder="0" width="640" height="392" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-content">
                                        <span class="card-title">{{slide.name}}</span>
                                    </div>
                                    <div class="card-action">
                                        <p>{{slide.description}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge info" title="Repositories">
                        <i class="fa fa-github fa-lg" aria-hidden="true"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Repositories</h4>
                        </div>
                        <div class="timeline-body" ng-show="lectureCtrl.lecture.repositoryLinks.length">
                            <div class="bs-callout bs-callout-info" ng-repeat="repo in lectureCtrl.lecture.repositoryLinks">
                                <h4>{{repo.name}}</h4>
                                <p>
                                    <a ng-href="{{repo.link}}" target="_blank">{{repo.link}}  <i class="fa fa-external-link" aria-hidden="true"></i></a>
                                </p>
                                <p>{{repo.description}}</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge info" title="Useful links">
                        <i class="fa fa-link fa-lg" aria-hidden="true"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Useful links</h4>
                        </div>
                        <div class="timeline-body" ng-show="lectureCtrl.lecture.usefulLinks.length">
                            <div class="bs-callout bs-callout-info" ng-repeat="link in lectureCtrl.lecture.usefulLinks">
                                <h4>{{link.name}}</h4>
                                <p>
                                    <a ng-href="{{link.link}}" target="_blank">{{link.link}}  <i class="fa fa-external-link" aria-hidden="true"></i></a>
                                </p>
                                <p>{{link.description}}</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge info" title="Code samples">
                        <i class="fa fa-code fa-lg" aria-hidden="true"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Code samples</h4>
                        </div>
                        <div class="timeline-body" ng-show="lectureCtrl.lecture.codeSamples.length">
                            <div class="code-samples centered-flex-content" ng-repeat="sample in lectureCtrl.lecture.codeSamples">
                                <div>
                                    <h3>{{sample.name}}</h3>
                                    <pre class="language-markup"><code>{{sample.code}}</code></pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge info" title="Lecture description">
                        <i class="fa fa-info fa-lg" aria-hidden="true"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Lecture description</h4>
                        </div>
                        <div class="timeline-body">
                            <p>{{lectureCtrl.lecture.description}}</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>