
<div class="timeline-badge info" title="{{blockTitle}}">
    <i ng-class="iconClass" aria-hidden="true"></i>
</div>
<div class="timeline-panel">
    <div class="timeline-heading">
        <h4 class="timeline-title">{{blockTitle}}</h4>
    </div>
    <div class="timeline-body" ng-show="links.length">
        <div class="bs-callout bs-callout-info" ng-if="linkType == linkTypes.sample || linkType == linkTypes.useful || linkType == linkTypes.repository" ng-repeat="link in links">
            <h4>{{link.name}}</h4>
            <p>
                <a ng-href="{{link.link|external}}" target="_blank">{{link.link}} <i class="fa fa-external-link" aria-hidden="true"></i></a>
            </p>
            <p>{{link.description}}</p>
        </div>
        <div class="col-md-6" ng-if="linkType == linkTypes.video">
            <div class="card cards" ng-repeat="video in links">
                <div class="card-image">
                    <div>
                        <div>
                            <youtube-video video-url="video.link"></youtube-video>
                        </div>
                    </div>
                </div>
                <div class="card-content">
                    <span class="card-title">{{video.name}}</span>
                </div>
                <div class="card-action">
                    <p title="{{video.description}}">
                        {{ video.description | limitTo: 167 }}{{video.description.length > 167 ? '...' : '' }}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6" ng-if="linkType == linkTypes.slide">
            <div class="card cards" ng-repeat="slide in links">
                <div class="card-image">
                    <div>
                        <div>
                            <iframe ng-src="{{linkTrust({src: slide.link})}}" frameborder="0" width="640" height="392" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
                        </div>
                    </div>
                </div>
                <div class="card-content">
                    <span class="card-title">{{slide.name}}</span>
                </div>
                <div class="card-action">
                    <p title="{{slide.description}}">
                        {{ slide.description | limitTo: 167 }}{{slide.description.length > 167 ? '...' : '' }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
