<div class="container-fluid">
    <br />
    <div class="btn-group btn-breadcrumb">
        <a ng-click="lectureCtrl.getCourseList()" class="btn btn-info"><i class="fa fa-graduation-cap fa-lg"></i> Academy Pro</a>
        <a ng-click="lectureCtrl.getCourse(lectureCtrl.lecture.courseId)" title="{{lectureCtrl.academy.fileUnit.name}}" class="btn btn-default">
            {{lectureCtrl.academy.fileUnit.name | limitTo: 10}}{{lectureCtrl.academy.fileUnit.name.length > 10 ? '...' : ''}}
        </a>
        <a title="{{lectureCtrl.lecture.name}}" class="btn btn-default">
            {{lectureCtrl.lecture.name | limitTo: 10}}{{lectureCtrl.lecture.name.length > 10 ? '...' : ''}}
        </a>
    </div>
    <div ng-show="!lectureCtrl.isEditing">
        <div us-spinner="{radius:5, width:2, length: 5}" style="position:absolute; top:35px; right:60px"></div>
        <div class="col-md-12 lecture-wrap">
            <div class="page-header lecture-header">
                <h1 id="timeline">{{lectureCtrl.lecture.name}}</h1>
                <div class="row">
                    <div class="col-sm-6">
                        <p>
                            <small class="text-muted" title="Lecture author"><i class="fa fa-user" aria-hidden="true"></i> {{ lectureCtrl.lecture.author.name }}</small>
                        </p>
                        <p>
                            <small class="text-muted" title="Lecture start date"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> {{ lectureCtrl.lecture.startDate | date:'dd-MM-yyyy HH:mm' }}</small>
                        </p>
                    </div>
                    <div class="col-sm-push-6 pull-right" style="margin-top: -45px; margin-right: 2%;">
                        <button class="btn btn-default" title="Edit lecture " ng-click="lectureCtrl.edit()">Edit</button>
                    </div>
                </div>
            </div>
            <ul class="timeline">
                <li ng-show="lectureCtrl.lecture.description.length">
                    <div class="timeline-badge info" title="Lecture description">
                        <i class="fa fa-info fa-lg" aria-hidden="true"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Lecture description</h4>
                        </div>
                        <div class="timeline-body">
                            <p>{{lectureCtrl.lecture.description}}</p>
                        </div>
                    </div>
                </li>
                <li ng-show="lectureCtrl.lecture.homeTasks.length">
                    <div class="timeline-badge info" title="Home task">
                        <i class="fa fa-paper-plane-o fa-lg" aria-hidden="true"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Home task</h4>
                        </div>
                        <div class="timeline-body" ng-show="lectureCtrl.lecture.homeTasks.length">
                            <div class="bs-callout bs-callout-info" ng-repeat="task in lectureCtrl.lecture.homeTasks">
                                <p title="Home task description">
                                    {{task.description}}
                                </p>
                                <p title="Home task deadline">
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                    {{ task.deadlineDate | date:'dd-MM-yyyy HH:mm' }}
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
                <li ng-show="lectureCtrl.lecture.videoLinks.length"
                    lecture-links
                    links-model="lectureCtrl.lecture.videoLinks"
                    link-type="lectureCtrl.linkTypes.video"
                    link-types="lectureCtrl.linkTypes"
                    icon-class="fa fa-video-camera fa-lg"
                    block-title="Videos">
                </li>
                <li ng-show="lectureCtrl.lecture.slidesLinks.length"
                    lecture-links
                    links-model="lectureCtrl.lecture.slidesLinks"
                    link-type="lectureCtrl.linkTypes.slide"
                    link-types="lectureCtrl.linkTypes"
                    icon-class="fa fa-file-powerpoint-o fa-lg"
                    block-title="Slides"
                    link-trust="lectureCtrl.trustSrc(src)">
                </li>
                <li ng-show="lectureCtrl.lecture.repositoryLinks.length"
                    lecture-links
                    links-model="lectureCtrl.lecture.repositoryLinks"
                    link-type="lectureCtrl.linkTypes.repository"
                    link-types="lectureCtrl.linkTypes"
                    icon-class="fa fa-github fa-lg"
                    block-title="Repositories">
                </li>
                <li ng-show="lectureCtrl.lecture.codeSamples.length"
                    lecture-links
                    links-model="lectureCtrl.lecture.codeSamples"
                    link-type="lectureCtrl.linkTypes.sample"
                    link-types="lectureCtrl.linkTypes"
                    icon-class="fa fa-code fa-lg"
                    block-title="Code samples">
                </li>
                <li ng-show="lectureCtrl.lecture.usefulLinks.length"
                    lecture-links
                    links-model="lectureCtrl.lecture.usefulLinks"
                    link-type="lectureCtrl.linkTypes.useful"
                    link-types="lectureCtrl.linkTypes"
                    icon-class="fa fa-link fa-lg"
                    block-title="Useful links">
                </li>
            </ul>
        </div>
    </div>
    <div class="container" ng-show="lectureCtrl.isEditing" style="padding: 0;">
        <div class="col-md-12" style="padding-left: 0">
            <div class="row col-md-5" style="margin: 1em 0 1em 0; padding-left: 0" ng-show="lectureCtrl.isEditing">
                <button class="btn btn-info" ng-click="lectureCtrl.updateLecture()" ng-disabled="courseForm.$invalid">Save</button>
                <button class="btn btn-default" ng-click="lectureCtrl.cancelUpdate()">Cancel</button>
            </div>
            <div class="edit-lecture-wrap">
                <div class="container">
                    <div class="col-md-12" style="padding-left: 0">
                        <form name="courseForm" ng-submit="submitForm()" class="form-horizontal" novalidate>
                            <div class="form-group" ng-class="{ 'has-error' : courseForm.name.$invalid && !courseForm.name.$pristine }">
                                <label class="col-sm-2 create-lecture-form">Lecture name:</label>
                                <input type="text" name="name" id="name" class="form-control text-valid" ng-pattern="/^[\w -]*$/" ng-model="lectureCtrl.lecture.name" placeholder="Lecture name" required>
                                <p ng-show="courseForm.name.$error.required && courseForm.name.$touched" class="help-block col-sm-offset-2 lecture-validation">Name is required</p>
                                <p ng-show="courseForm.name.$error.pattern" class="help-block col-sm-offset-2 lecture-validation">Not a valid name</p>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 create-lecture-form">Description:</label>
                                <textarea type="text" name="description" class="form-control" id="description" ng-model="lectureCtrl.lecture.description" placeholder="Enter description"></textarea>
                            </div>
                            <div class="form-group datetimepicker" ng-class="{ 'has-error' : courseForm.date.$invalid && !courseForm.date.$pristine }">
                                <label class="col-sm-2 create-lecture-form">Start date:</label>
                                <p class="input-group">
                                    <input type="datetime" name="date" id="date" class="form-control" datetime-picker="yyyy-MM-dd HH:mm" ng-model="lectureCtrl.lecture.startDate" is-open="lectureCtrl.calendar.isOpen" placeholder="Select start date" timepicker-options="lectureCtrl.calendar.timepickerOptions" required />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="lectureCtrl.calendar.openCalendar($event, prop)"><i class="fa fa-calendar"></i></button>
                                    </span>
                                <p ng-show="courseForm.date.$error.required && courseForm.date.$touched" class="help-block col-sm-offset-2 lecture-validation">Date is required</p>
                                <p ng-show="courseForm.date.$error.datetime" class="help-block col-sm-offset-2 lecture-validation">Not a valid date</p>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-12" style="padding: 0;">
                    <uib-accordion close-others="true">
                        <create-links links-model="lectureCtrl.lecture.videoLinks"
                                      links-name="Videos"
                                      image-class="fa fa-video-camera fa-lg">
                        </create-links>
                        <create-links links-model="lectureCtrl.lecture.slidesLinks"
                                      links-name="Slides"
                                      image-class="fa fa-file-powerpoint-o fa-lg">
                        </create-links>
                        <create-links links-model="lectureCtrl.lecture.repositoryLinks"
                                      links-name="Repositories"
                                      image-class="fa fa-github fa-lg">
                        </create-links>
                        <create-links links-model="lectureCtrl.lecture.sampleLinks"
                                      links-name="Code samples"
                                      image-class="fa fa-code fa-lg">
                        </create-links>
                        <create-links links-model="lectureCtrl.lecture.usefulLinks"
                                      links-name="Useful links"
                                      image-class="fa fa-link fa-lg">
                        </create-links>
                        <div uib-accordion-group class="panel-default" is-open="status.open6">
                            <uib-accordion-heading>
                                <i class="fa fa-paper-plane-o fa-lg" aria-hidden="true"></i> Home task <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open6, 'glyphicon-chevron-right': !status.open6}"></i>
                            </uib-accordion-heading>
                            <div class="col-md-12">
                                <div class="row">
                                    <table class="table users table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th style="width: 20%">Deadline</th>
                                                <th style="width: 70%">Description</th>
                                                <th style="width: 10%"></th>
                                            </tr>
                                        </thead>
                                        <tbody style="overflow-x: hidden;">
                                            <tr ng-repeat="task in lectureCtrl.lecture.homeTasks">
                                                <td style="width: 20%" class="description" title="{{ task.deadlineDate | date:'dd-MM-yyyy HH:mm' }}">
                                                    {{ task.deadlineDate | date:'dd-MM-yyyy HH:mm' }}
                                                </td>
                                                <td style="width: 70%" class="description" title="{{task.description}}">
                                                    {{ task.description | limitTo: 80 }}{{task.description.length > 80 ? '...' : '' }}
                                                </td>
                                                <td style="width: 10%">
                                                    <i role="button" class="fa fa-pencil-square-o fa-lg" ng-click="lectureCtrl.editTask($index)" title="Edit home task" aria-hidden="true"></i>
                                                    <i role="button" class="fa fa-trash fa-lg" ng-click="lectureCtrl.removeTask($index)" title="Delete home task" aria-hidden="true"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row">
                                        <form name="taskForm" ng-submit="lectureCtrl.submitTask()" class="form-horizontal" novalidate>
                                            <div class="form-group" ng-class="{ 'has-error' : taskForm.taskDescription.$invalid && !taskForm.taskDescription.$pristine }">
                                                <label class="col-sm-3">Description:</label>
                                                <textarea type="text" name="taskDescription" id="taskDescription" class="form-control text-valid" ng-pattern="/^[\w - !@#$%^&,.\*()\+-]*$/" ng-model="lectureCtrl.currentTask.description" placeholder="Description" required></textarea>
                                                <p ng-show="taskForm.taskDescription.$error.required && taskForm.taskDescription.$touched" class="help-block col-sm-offset-3" ng-cloak>Description is required</p>
                                                <p ng-show="taskForm.taskDescription.$error.pattern" class="help-block col-sm-offset-3" ng-cloak>Not a valid description</p>
                                            </div>
                                            <div class="form-group datetimepicker" ng-class="{ 'has-error' : taskForm.deadlineDate.$invalid && !taskForm.deadlineDate.$pristine }">
                                                <label class="col-sm-3">Deadline:</label>
                                                <p class="input-group">
                                                    <span class="input-group-btn">
                                                        <input type="datetime" name="deadlineDate" id="deadlineDate" class="form-control" datetime-picker="yyyy-MM-dd HH:mm" ng-model="lectureCtrl.currentTask.deadlineDate" is-open="lectureCtrl.calendarHomeTask.isOpen" placeholder="Select deadline date" timepicker-options="lectureCtrl.calendarHomeTask.timepickerOptions" required />
                                                        <button type="button" class="btn btn-default" ng-click="lectureCtrl.calendarHomeTask.openCalendarHomeTask($event, prop)"><i class="fa fa-calendar"></i></button>
                                                    </span>
                                                <p ng-show="taskForm.deadlineDate.$error.required && taskForm.deadlineDate.$touched" class="help-block col-sm-offset-3">Date is required</p>
                                                <p ng-show="taskForm.deadlineDate.$error.datetime" class="help-block col-sm-offset-3">Not a valid date</p>
                                                </p>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3"></label>
                                                <button type="submit" class="btn btn-info" ng-disabled="taskForm.$invalid">
                                                    <i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i> Add task
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-accordion>
                </div>
            </div>
        </div>
    </div>
</div>