<div class="container col-md-12">
    <br />
    <div class="btn-group btn-breadcrumb">
        <a class="btn btn-info"><i class="fa fa-calendar fa-lg"></i> Events</a>
    </div>
    <div>
        <div us-spinner="{radius:5, width:2, length: 5}" style="position:absolute; top:40px; right:35px"></div>
        <div class="row" style="margin: 1em 0 1em 0;">
            <div class="col-md-4 pull-right">
                <div class="row">
                    <div class="col-xs-10 right">
                        <div class="input-group">
                            <form id="form-container">
                                <div id="searchtext">
                                    <input type="text" size="40" class="search-input" value="" name="s" id="s" placeholder="Search..." ng-model="eventsListCtrl.searchText">
                                    <a id="clear_input" ng-show="eventsListCtrl.searchText.length > 0" ng-click="eventsListCtrl.cancelSearch()">
                                        <i class="fa fa-times"></i>
                                    </a>
                                    <button class="search-submit-button" type="submit" ng-click="eventsListCtrl.search()"> <i class="fa fa-search"></i> </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-xs-2 nopadding pull-right">
                        <button class="btn btn-default pull-right" ng-click="eventsListCtrl.changeView(eventsListCtrl.view)">
                            <i class={{eventsListCtrl.view}} title="view"> </i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="wrap" ng-show="!eventsListCtrl.showTable">
            <div ng-show="eventsListCtrl.eventsList.length == 0">
                <h2 class="text-muted text-center">Files not found</h2>
            </div>
            <div ng-repeat="eventspace in eventsListCtrl.eventsList">
                <div class="grid-space-label" ng-click="space.isCollapsed = !space.isCollapsed">{{ eventspace.name }}</div>
                <div uib-collapse="space.isCollapsed">
                    <ul class="sp-gv-flex-container">
                        <li class="sp-gv-flex-item" role="button" ng-repeat="event in eventspace.events" context-menu="eventsListCtrl.eventMenuOptions" ng-dblclick="eventsListCtrl.openEvent(event.id)" title="Created {{ event.createdAt | date : 'short' }}">
                            <div class="sp-gv-wrapper-flex-item ">
                                <div class="sp-gv-item-content cards">
                                    <div class="sp-gv-item-img-wrapper">
                                        <img ng-src="{{eventsListCtrl.icon}}" alt="Event" title="Event" />
                                    </div>
                                    <div class="sp-gv-item-text">
                                        <h4 title="{{ event.fileUnit.name}}">{{ event.fileUnit.name}}</h4>
                                        <h5 title="Author: {{event.author.name}}">
                                            <i class="fa fa-user" aria-hidden="true"></i>
                                            {{event.author.name}}
                                        </h5>
                                        <br />
                                        <h5 title="Start date {{ event.fileUnit.createdAt | date:'dd-MM-yyyy HH:mm'}}">
                                            <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                                            {{ event.fileUnit.createdAt | date:'dd-MM-yyyy HH:mm'}}
                                        </h5>
                                        <p title="{{event.fileUnit.description}}">{{event.fileUnit.description}}</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="sp-gv-flex-item"></li>
                        <li class="sp-gv-flex-item"></li>
                        <li class="sp-gv-flex-item"></li>
                        <li class="sp-gv-flex-item"></li>
                        <li class="sp-gv-flex-item"></li>
                    </ul>
                </div>
                <hr />
            </div>
        </div>
        <div class="filter-table container-md" ng-show="eventsListCtrl.showTable">
            <div class="header-wrapper">
                <div class="row header-row">
                    <div class="col-xs-3 filter-t-row-1" ng-click="eventsListCtrl.orderEventByColumn('fileUnit.name')">
                        Name
                        <span ng-show="eventsListCtrl.eventColumnForOrder == 'fileUnit.name'"><i class="fa fa-sort-asc"></i></span>
                        <span ng-show="eventsListCtrl.eventColumnForOrder == '-fileUnit.name'"><i class="fa fa-sort-desc"></i></span>
                    </div>
                    <div class="col-xs-3 filter-t-row-1" ng-click="eventsListCtrl.orderEventByColumn('fileUnit.description')">
                        Description
                        <span ng-show="eventsListCtrl.eventColumnForOrder == 'fileUnit.description'"><i class="fa fa-sort-asc"></i></span>
                        <span ng-show="eventsListCtrl.eventColumnForOrder == '-fileUnit.description'"><i class="fa fa-sort-desc"></i></span>
                    </div>
                    <div class="col-xs-2 filter-t-row-1" ng-click="eventsListCtrl.orderEventByColumn('author.name')">
                        Author
                        <span ng-show="eventsListCtrl.eventColumnForOrder == 'author.name'"><i class="fa fa-sort-asc"></i></span>
                        <span ng-show="eventsListCtrl.eventColumnForOrder == '-author.name'"><i class="fa fa-sort-desc"></i></span>
                    </div>
                    <div class="col-xs-2 filter-t-row-1" ng-click="eventsListCtrl.orderEventByColumn('fileUnit.createdAt')">
                        Created
                        <span ng-show="eventsListCtrl.eventColumnForOrder == 'fileUnit.createdAt'"><i class="fa fa-sort-asc"></i></span>
                        <span ng-show="eventsListCtrl.eventColumnForOrder == '-fileUnit.createdAt'"><i class="fa fa-sort-desc"></i></span>
                    </div>
                    <div class="col-xs-2 filter-t-row-1" ng-click="eventsListCtrl.orderEventByColumn('eventType')">
                        Type
                        <span ng-show="eventsListCtrl.eventColumnForOrder == 'eventType'"><i class="fa fa-sort-asc"></i></span>
                        <span ng-show="eventsListCtrl.eventColumnForOrder == '-eventType'"><i class="fa fa-sort-desc"></i></span>
                    </div>
                </div>
            </div>
            <div class="filter-table-internal">
                <div ng-show="eventsListCtrl.eventsList.length == 0">
                    <h2 class="text-muted text-center">Files not found</h2>
                </div>
                <div ng-repeat="eventspace in eventsListCtrl.eventsList">
                    <div class="space-label" ng-click="space.isCollapsed = !space.isCollapsed">{{ eventspace.name }}</div>
                    <div uib-collapse="space.isCollapsed">
                        <div style="transition: all 2s">
                            <div class="filter-table-row">
                                <div class="row filter-table-row" role="button" ng-repeat="event in eventspace.events | orderBy: eventsListCtrl.eventColumnForOrder" ng-dblclick="eventsListCtrl.openEvent(event.id)" context-menu="eventsListCtrl.eventMenuOptions">
                                    <div class="col-xs-3 filter-table-cell filter-t-row-1" title="{{ event.fileUnit.name }}">
                                        <img ng-src="{{eventsListCtrl.icon}}" height="{{eventsListCtrl.iconHeight}}" />
                                        {{event.fileUnit.name | limitTo: 15}}{{event.fileUnit.name.length > 15 ? '...' : ''}}
                                    </div>
                                    <div class="col-xs-3 filter-table-cell filter-t-row-1" title="{{event.fileUnit.description}}">
                                        {{event.fileUnit.description | limitTo: 30}}{{event.fileUnit.description.length > 30 ? '...' : ''}}
                                    </div>
                                    <div class="col-xs-2 filter-table-cell filter-t-row-1">{{ event.author.name }}</div>
                                    <div class="col-xs-2 filter-table-cell filter-t-row-1">{{ event.fileUnit.createdAt | date:'dd-MM-yyyy HH:mm' }}</div>
                                    <div class="col-xs-2 filter-table-cell filter-t-row-1">{{ event.eventType }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>