<div ng-repeat="eventspace in eventsListCtrl.eventsList">
    <div class="grid-space-label" ng-click="space.isCollapsed = !space.isCollapsed">{{ eventspace.name }}</div>
    <div uib-collapse="space.isCollapsed">
        <ul class="sp-gv-flex-container">
            <li class="sp-gv-flex-item" role="button" ng-repeat="event in eventspace.courses" ng-dblclick="eventsListCtrl.openCourse(event.id)" title="Created {{ event.createdAt | date : 'short' }}">
                <div class="sp-gv-wrapper-flex-item ">
                    <div class="sp-gv-item-content card">
                        <div class="sp-gv-item-img-wrapper">
                            <img ng-src="{{eventsListCtrl.icon}}" alt="Academy" title="Course" />
                        </div>
                        <div class="sp-gv-item-text">
                            <h4 title="{{ event.fileUnit.name}}">{{ event.fileUnit.name}}</h4>
                            <h5 title="Author: {{event.author.name}}">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                {{event.author.name}}
                            </h5>
                            <br />
                            <h5 title="Start date {{ event.startDate | date:'dd-MM-yyyy HH:mm'}}">
                                <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                                {{ event.startDate | date:'dd-MM-yyyy HH:mm'}}
                            </h5>
                            <p title="{{event.fileUnit.description}}">{{event.fileUnit.description}}</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="sp-gv-flex-item"></li>
            <li class="sp-gv-flex-item"></li>
            <li class="sp-gv-flex-item"></li>
        </ul>
    </div>
    <hr />
</div>