<div class="container">
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Back</a></li>
        </ul>
    </nav>
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="active">Logs</li>
    </ol>
    <div class="page-header">
        <h2>
            Logs
        </h2>
    </div>
    <form>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"></div>
                <input type="text" class="form-control" placeholder="Level filter" ng-model="logsCtrl.searchLevel">
            </div>
        </div>
    </form>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>
                    <a href="" ng-click="logsCtrl.sort.sortType = 'id'; logsCtrl.sort.sortReverse = !logsCtrl.sort.sortReverse">
                        Id
                        <span ng-show="logsCtrl.sort.sortType == 'id' && !logsCtrl.sort.sortReverse">&#8595</span>
                        <span ng-show="logsCtrl.sort.sortType == 'id' && logsCtrl.sort.sortReverse">&#8593</span>
                    </a>
                </td>
                <td>
                    <a href="" ng-click="logsCtrl.sort.sortType = 'time'; logsCtrl.sort.sortReverse = !logsCtrl.sort.sortReverse">
                        Time
                        <span ng-show="logsCtrl.sort.sortType == 'time' && !logsCtrl.sort.sortReverse">&#8595</span>
                        <span ng-show="logsCtrl.sort.sortType == 'time' && logsCtrl.sort.sortReverse">&#8593</span>
                    </a>
                </td>
                <td>
                    <a href="" ng-click="logsCtrl.sort.sortType = 'level'; logsCtrl.sort.sortReverse = !logsCtrl.sort.sortReverse">
                        Log level
                        <span ng-show="logsCtrl.sort.sortType == 'level' && !logsCtrl.sort.sortReverse">&#8595</span>
                        <span ng-show="logsCtrl.sort.sortType == 'level' && logsCtrl.sort.sortReverse">&#8593</span>
                    </a>
                </td>
                <td>
                    <a href="" ng-click="logsCtrl.sort.sortType = 'message'; logsCtrl.sort.sortReverse = !logsCtrl.sort.sortReverse">
                        Log message
                        <span ng-show="logsCtrl.sort.sortType == 'message' && !logsCtrl.sort.sortReverse">&#8595</span>
                        <span ng-show="logsCtrl.sort.sortType == 'message' && logsCtrl.sort.sortReverse">&#8593</span>
                    </a>
                </td>
                <td>
                    <a href="" ng-click="logsCtrl.sort.sortType = 'exception'; logsCtrl.sort.sortReverse = !logsCtrl.sort.sortReverse">
                        Exception
                        <span ng-show="logsCtrl.sort.sortType == 'exception' && !logsCtrl.sort.sortReverse">&#8595</span>
                        <span ng-show="logsCtrl.sort.sortType == 'exception' && logsCtrl.sort.sortReverse">&#8593</span>
                    </a>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="log in logsCtrl.logs | orderBy:logsCtrl.sort.sortType:logsCtrl.sort.sortReverse | filter:logsCtrl.searchLevel">
                <td>{{ log.id }}</td>
                <td>{{ log.time }}</td>
                <td>{{ log.level }}</td>
                <td>{{ log.message }}</td>
                <td>{{ log.exception }}</td>
            </tr>
        </tbody>
    </table>
</div>