<div class="container col-md-12">
    <br />
    <div class="btn-group btn-breadcrumb">
        <a class="btn btn-info"><i class="fa fa-graduation-cap fa-lg"></i> Academy Pro</a>
    </div>
    <div>
        <div us-spinner="{radius:5, width:2, length: 5}" style="position:absolute; top:40px; right:35px"></div>
        <div class="row" style="margin: 1em 0 1em 0;">
            <div class="col-lg-push-4-offset pull-right">
                <button class="btn btn-default" ng-click="academyListCtrl.changeView(academyListCtrl.view)">
                    <i class={{academyListCtrl.view}} title="view"> </i>
                </button>
            </div>
            <div>
                <div class="col-sm-3 pull-right">
                    <div>
                        <div class="input-group">
                            <form id="form-container">
                                <div id="searchtext">
                                    <input type="text" size="40" class="search-input" value="" name="s" id="s" placeholder="Search..." ng-model="academyListCtrl.searchText">
                                    <a id="clear_input" ng-show="academyListCtrl.searchText.length > 0" ng-click="academyListCtrl.cancelSearch()">
                                        <i class="fa fa-times"></i>
                                    </a>
                                    <button class="search-submit-button" type="submit" ng-click="academyListCtrl.search()"> <i class="fa fa-search"></i> </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrap" ng-show="!academyListCtrl.showTable">
            <div ng-repeat="academyspace in academyListCtrl.academiesList">
                <div class="grid-space-label" ng-click="space.isCollapsed = !space.isCollapsed">{{ academyspace.name }}</div>
                <div uib-collapse="space.isCollapsed">
                    <ul class="sp-gv-flex-container">
                        <li class="sp-gv-flex-item" role="button" ng-repeat="academy in academyspace.courses" ng-dblclick="academyListCtrl.openCourse(academy.id)" title="Created {{ academy.createdAt | date : 'short' }}">
                            <div class="sp-gv-wrapper-flex-item ">
                                <div class="sp-gv-item-content cards">
                                    <div class="sp-gv-item-img-wrapper">
                                        <img ng-src="{{academyListCtrl.icon}}" alt="Academy" title="Course" />
                                    </div>
                                    <div class="sp-gv-item-text">
                                        <h4 title="{{ academy.fileUnit.name}}">{{ academy.fileUnit.name}}</h4>
                                        <h5 title="Author: {{academy.author.name}}">
                                            <i class="fa fa-user" aria-hidden="true"></i>
                                            {{academy.author.name}}
                                        </h5>
                                        <br />
                                        <h5 title="Start date {{ academy.startDate | date:'dd-MM-yyyy HH:mm'}}">
                                            <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                                            {{ academy.startDate | date:'dd-MM-yyyy HH:mm'}}
                                        </h5>
                                        <p title="{{academy.fileUnit.description}}">{{academy.fileUnit.description}}</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="sp-gv-flex-item"></li>
                        <li class="sp-gv-flex-item"></li>
                        <li class="sp-gv-flex-item"></li>
                    </ul>
                </div>
                <hr />
            </div>
        </div>
        <div class="filter-table container-md" ng-show="academyListCtrl.showTable">
            <div class="header-wrapper">
                <div class="row header-row">
                    <div class="col-md-3" ng-click="academyListCtrl.orderCourseByColumn('fileUnit.name')">
                        Name
                        <span ng-show="academyListCtrl.courseColumnForOrder == 'fileUnit.name'"><i class="fa fa-sort-asc"></i></span>
                        <span ng-show="academyListCtrl.courseColumnForOrder == '-fileUnit.name'"><i class="fa fa-sort-desc"></i></span>
                    </div>
                    <div class="col-md-3" ng-click="academyListCtrl.orderCourseByColumn('fileUnit.description')">
                        Description
                        <span ng-show="academyListCtrl.courseColumnForOrder == 'fileUnit.description'"><i class="fa fa-sort-asc"></i></span>
                        <span ng-show="academyListCtrl.courseColumnForOrder == '-fileUnit.description'"><i class="fa fa-sort-desc"></i></span>
                    </div>
                    <div class="col-md-2" ng-click="academyListCtrl.orderCourseByColumn('author.name')">
                        Author
                        <span ng-show="academyListCtrl.courseColumnForOrder == 'author.name'"><i class="fa fa-sort-asc"></i></span>
                        <span ng-show="academyListCtrl.courseColumnForOrder == '-author.name'"><i class="fa fa-sort-desc"></i></span>
                    </div>
                    <div class="col-md-2" ng-click="academyListCtrl.orderCourseByColumn('startDate')">
                        Start Date
                        <span ng-show="academyListCtrl.courseColumnForOrder == 'startDate'"><i class="fa fa-sort-asc"></i></span>
                        <span ng-show="academyListCtrl.courseColumnForOrder == '-startDate'"><i class="fa fa-sort-desc"></i></span>
                    </div>
                    <div class="col-md-2">Type</div>
                </div>
            </div>
            <div class="filter-table-internal">
                <div ng-repeat="academyspace in academyListCtrl.academiesList">
                    <div class="space-label" ng-click="space.isCollapsed = !space.isCollapsed">{{ academyspace.name }}</div>
                    <div uib-collapse="space.isCollapsed">
                        <div style="transition: all 2s">
                            <div class="filter-table-row">
                                <div class="row filter-table-row" role="button" ng-repeat="academy in academyspace.courses | orderBy: academyListCtrl.courseColumnForOrder" ng-dblclick="academyListCtrl.openCourse(academy.id)" context-menu="academyListCtrl.courseMenuOptions">
                                    <div class="col-md-3 filter-table-cell description" title="{{ academy.fileUnit.name }}">
                                        <img ng-src="{{academyListCtrl.icon}}" height="{{academyListCtrl.iconHeight}}" />
                                        {{academy.fileUnit.name | limitTo: 15}}{{academy.fileUnit.name.length > 15 ? '...' : ''}}
                                    </div>
                                    <div class="col-md-3 filter-table-cell description" title="{{academy.fileUnit.description}}">
                                        {{academy.fileUnit.description | limitTo: 40}}{{academy.fileUnit.description.length > 40 ? '...' : ''}}
                                    </div>
                                    <div class="col-md-2 filter-table-cell">{{ academy.author.name }}</div>
                                    <div class="col-md-2 filter-table-cell">{{ academy.startDate | date:'dd-MM-yyyy HH:mm' }}</div>
                                    <div class="col-md-2 filter-table-cell">{{ academy.fileUnit.fileType | typeOfFile }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
