<div>
    <div class="modal-header">
        <h3 class="modal-title">Add new Space</h3>
    </div>
    <div class="modal-body">
        <div class="bs-example">
            <div class="container">
                <div class="col-md-10">
                    <form name="createForm" ng-submit="submitForm()" class="form-horizontal" novalidate>
                        <div class="form-group" ng-class="{ 'has-error' : createForm.name.$invalid && !createForm.name.$pristine }">
                            <label class="col-sm-2">Course name:</label>
                            <input type="text" name="name" id="name" class="form-control text-valid" ng-pattern="/^[\w -]*$/" ng-model="courseCreateCtrl.course.fileUnit.name" placeholder="Enter space name" required>
                            <p ng-show="createForm.name.$error.required && createForm.name.$touched" class="help-block col-sm-offset-2">Name is required.</p>
                            <p ng-show="createForm.name.$error.pattern" class="help-block col-sm-offset-2">Not a valid name.</p>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2">Description:</label>
                            <input type="text" name="description" class="form-control" id="description" ng-model="courseCreateCtrl.course.fileUnit.description" placeholder="Enter description">
                        </div>
                        <div class="form-group datetimepicker">
                            <label class="col-sm-2">Start date:</label>
                            <p class="input-group">
                                <input type="text" class="form-control" datetime-picker="yyyy-MM-ddTHH:mm:ssZ" ng-model="courseCreateCtrl.course.startDate" is-open="courseCreateCtrl.calendar.isOpen" timepicker-options="courseCreateCtrl.calendar.timepickerOptions"/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="courseCreateCtrl.calendar.openCalendar($event, prop)"><i class="fa fa-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="courseCreateCtrl.create()" title="Create new Space"
            ng-disabled="createForm.name.$invalid">
        Create
    </button>
    <button class="btn btn-default" type="button" ng-click="courseCreateCtrl.cancel()">
        Cancel
    </button>
</div>
