body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Style for jumbotron on Home page*/
.jumbotron {
    margin: 5px 0;
    text-align: center;
    background-color:mintcream;

}

.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
    font-weight: bold;
    color:midnightblue;

}
.jumbotron p {
    color: darkblue;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.limiter {
    border-left: 1px solid;
}

/*Grid-list view*/
.glyphicon { margin-right:5px; }
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    margin-bottom: 10px;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}

/*Side menu on Index page*/
 #wrapper {
  margin-left: 200px;
}
#content {
  float: right;
  width: 100%;
}
#sidebar {
  float: left;
  width: 200px;
}