body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Style for jumbotron on Home page*/
.jumbotron {
    margin: 5px 0;
    text-align: center;
    background-color: mintcream;
}

    .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
        font-weight: bold;
        color: midnightblue;
    }

    .jumbotron p {
        color: darkblue;
    }

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.limiter {
    border-left: 1px solid;
}

/*Grid-list view*/
.glyphicon {
    margin-right: 5px;
}

.thumbnail {
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item {
    float: none;
    width: 100%;
    margin-bottom: 10px;
}

    .item.list-group-item .list-group-image {
        margin-right: 10px;
    }

    .item.list-group-item .thumbnail {
        margin-bottom: 0px;
    }

    .item.list-group-item img {
        float: left;
    }

    .item.list-group-item:after {
        clear: both;
    }

/*Side menu on Index page*/
#wrapper {
    margin-left: 200px;
}

#content {
    float: right;
    width: 100%;
}

#sidebar {
    float: left;
    width: 200px;
}

/*Footer on _Layout page*/
.footer-margin {
    margin-left: 190px;
    overflow: hidden;
}

/*Ng-include on Index page*/
.include-index {
    float: left;
    max-width: 190px;
    margin: 0;
    overflow: hidden;
}

/*Ng-view on Index page*/
.view-index {
    margin-left: 190px;
    overflow: hidden;
}

/*Modal window for creating new space*/
.modal-body {
    position: relative;
    max-height: 400px;
    padding: 15px;
}

/*Breadcrumbs paths*/
.breadcrumb-arrow {
    height: 36px;
    padding: 0;
    line-height: 36px;
    list-style: none;
    background-color: #e6e9ed;
}

    .breadcrumb-arrow li:first-child a {
        border-radius: 4px 0 0 4px;
        -webkit-border-radius: 4px 0 0 4px;
        -moz-border-radius: 4px 0 0 4px;
    }

    .breadcrumb-arrow li, .breadcrumb-arrow li a, .breadcrumb-arrow li span {
        display: inline-block;
        vertical-align: top;
    }

        .breadcrumb-arrow li:not(:first-child) {
            margin-left: -5px;
        }

        .breadcrumb-arrow li + li:before {
            padding: 0;
            content: "";
        }

        .breadcrumb-arrow li span {
            padding: 0 10px;
        }

        .breadcrumb-arrow li a, .breadcrumb-arrow li:not(:first-child) span {
            height: 36px;
            padding: 0 10px 0 25px;
            line-height: 36px;
        }

        .breadcrumb-arrow li:first-child a {
            padding: 0 10px;
        }

        .breadcrumb-arrow li a {
            position: relative;
            color: #fff;
            text-decoration: none;
            background-color: #3bafda;
            border: 1px solid #3bafda;
        }

        .breadcrumb-arrow li:first-child a {
            padding-left: 10px;
        }

        .breadcrumb-arrow li a:after, .breadcrumb-arrow li a:before {
            position: absolute;
            top: -1px;
            width: 0;
            height: 0;
            content: '';
            border-top: 18px solid transparent;
            border-bottom: 18px solid transparent;
        }

        .breadcrumb-arrow li a:before {
            right: -10px;
            z-index: 3;
            border-left-color: #3bafda;
            border-left-style: solid;
            border-left-width: 11px;
        }

        .breadcrumb-arrow li a:after {
            right: -11px;
            z-index: 2;
            border-left: 11px solid #2494be;
        }

        .breadcrumb-arrow li a:focus, .breadcrumb-arrow li a:hover {
            background-color: #4fc1e9;
            border: 1px solid #4fc1e9;
        }

            .breadcrumb-arrow li a:focus:before, .breadcrumb-arrow li a:hover:before {
                border-left-color: #4fc1e9;
            }

        .breadcrumb-arrow li a:active {
            background-color: #2494be;
            border: 1px solid #2494be;
        }

            .breadcrumb-arrow li a:active:after, .breadcrumb-arrow li a:active:before {
                border-left-color: #2494be;
            }

        .breadcrumb-arrow li span {
            color: #434a54;
        }

/*Table for editting space users*/
.users table {
    width: 100%;
}

.users thead, .users tbody, .users tr, .users td, .users th {
    display: block;
}

    .users tr:after {
        content: ' ';
        display: block;
        visibility: hidden;
        clear: both;
    }

    .users thead th {
        height: 30px;
        /*text-align: left;*/
    }

.users tbody {
    height: 150px;
    overflow-y: auto;
}

.users thead {
    /* fallback */
}

    .users tbody td, .users thead th {
        width: 30%;
        float: left;
    }
