<div>
    <form role="form" name="fileForm" novalidate>
        <div class="modal-header">
            <h3 class="modal-title">{{sharedContentModalCtrl.title}}</h3>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <div class="col-xs-4" style="padding-left: 0px;">
                    <input type="text" placeholder="Enter a username" ng-model="sharedContentModalCtrl.selected" uib-typeahead="user as user.name for user in sharedContentModalCtrl.users | filter:{name:$viewValue} | limitTo:10" class="form-control">
                </div>
                <div class="col-xs-2">
                    <button class="btn btn-primary" ng-click="sharedContentModalCtrl.addUserPermissons()">Add</button>
                </div>
            </div>
                <br /><br />
                <table class="table users table-striped table-hover">
                    <thead>
                        <tr>
                            <th style="width:35%">User name</th>
                            <th style="width:20%; text-align:center;">Read</th>
                            <th style="width:20%; text-align:center;">Modify</th>
                            <th style="width:25%; text-align:center;">Remove</th>
                        </tr>
                    </thead>
                    <tbody style="height: 200px;">
                        <tr ng-repeat="item in sharedContentModalCtrl.usersWithPermissions| filter:{isDeleted:false} ">
                            <td style="width:35%">{{item.name}}</td>
                            <td style="width:20%; text-align:center;">
                                <input type="checkbox" ng-model="item.canRead" ng-click="sharedContentModalCtrl.permissionCanReadChanged(item.globalId)">
                            </td>
                            <td style="width:20%; text-align:center;">
                                <input type="checkbox" ng-model="item.canModify" ng-disabled="sharedContentModalCtrl.canModifyDisabled" ng-click="sharedContentModalCtrl.permissionCanModifyChanged(item.globalId)">
                            </td>
                            <td style="width:25%; text-align:center;">
                                <i role="button" class="fa fa-trash fa-lg" aria-hidden="true" ng-click="sharedContentModalCtrl.removeUsersWithPermissions(item)"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <div class="col-md-offset-3 col-md-8">
                    <button type="submit" class="btn btn-primary" ng-click="sharedContentModalCtrl.save()">Save</button>
                    <button class="btn btn-default" type="submit" ng-click="sharedContentModalCtrl.cancel()">Cancel</button>
                </div>
            </div>
    </form>
</div>