<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnString" connectionString="Server=(loseyrcaldb)\MSSesyesQLLocalDB;Database=DriveDB;Integrated Security = true;Trusted_Connection=True" providerName="System.Data.SqlClient" />

  </connectionStrings>
</configuration>