<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" internalLogFile="c:\Users\NlogInternal.log"
      nternalLogLevel="Debug">
  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <extensions>
    <add assembly="NLog.Web" />
    <add assembly="NLog.Extended" />
  </extensions>
  <targets>
    <!-- add your targets here -->
    <target name="asyncDbWrapperTarget" xsi:type="AsyncWrapper" queueLimit="10000"
      timeToSleepBetweenBatches="50" batchSize="100" overflowAction="Block">
      <target xsi:type="Database"
       name="dbLogTarget"
       connectionStringName="DriveContext"
       keepConnection="true"
       commandText=" insert into dbo.Logs (
            Logged, Level, Message, Exception, CallerName
          ) values (
            @Logged, @Level, @Message, @Exception, @Callername
          ); ">
        <parameter name="@logged" layout="${date}" />
        <parameter name="@level" layout="${level}" />
        <parameter name="@message" layout="${message}" />
        <parameter name="@exception" layout="${exception:tostring}" />
        <parameter name="@callername" layout=" ${event-properties:item=ClassName}" />

      </target>
    </target>
    <target name="logfile" xsi:type="File"
      layout="${time} ${level} [${threadid}] ${message} ${exception:format=tostring} ${event-properties:item=ClassName}"
      fileName="${basedir}/Logs/fulllog.txt"
      />

    <install-command connectionStringName="DriveContext">
      <text>
        SET ANSI_NULLS ON
        SET QUOTED_IDENTIFIER ON
        CREATE TABLE [dbo].[Log] (
        [Id] [int] IDENTITY(1,1) NOT NULL,
        [Logged] [datetime] NOT NULL,
        [Level] [nvarchar](50) NOT NULL,
        [Message] [nvarchar](max) NOT NULL,
        [Exception] [nvarchar](max) NULL,
        CONSTRAINT [PK_dbo.Log] PRIMARY KEY CLUSTERED ([Id] ASC)
        WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
        ) ON [PRIMARY]
      </text>
    </install-command>

    <!-- commands to uninstall database -->
    <uninstall-command connectionStringName="DriveContext">
      <text>DROP DATABASE Logs</text>
      <ignoreFailures>true</ignoreFailures>
    </uninstall-command>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="asyncDbWrapperTarget" />
    <logger name="*" minlevel="Trace" writeTo="logfile" />
  </rules>
</nlog>
