
<div id="wrapper" ng-controller="MenuController as menuController">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
            <button class="btn btn-info menu btn-md" style="width: 100%; height: 40px;" ng-click="menuController.open('lg')"><i class="fa iconCustom fa-plus-circle fa-cog fa-lg"></i>Add new Space</button>
            <hr class="style" />
            <li>
                <button class="btn btn-custom pull-right btn-md" title="Binary Space Settings" ng-click="menuController.redirectToSpaceSettings()"><i class="fa fa-inverse fa-wrench faa-wrench animated-hover fa-lg"></i></button>
                <div class="d" ng-click="menuController.redirectToBinarySpace()">
                    <span class="fa-stack fa-lg pull-left"><i class="fa fa-cloud fa-stack-1x "></i></span>Binary Space
                </div>
            </li>
            <li class="active">
                <button class="btn btn-custom pull-right btn-md" title="My Space Settings" ng-click="menuController.redirectToSpaceSettings()"><i class="fa fa-inverse fa-wrench faa-wrench animated-hover fa-lg"></i></button>
                <div class="d" ng-click="menuController.redirectToMySpace()">
                    <span class="fa-stack fa-lg pull-left"><i class="fa fa-cloud fa-stack-1x "></i></span>My Space
                </div>
            </li>
            <li>
                <div class="d" data-toggle="collapse" data-target="#other">
                    <span class="fa-stack fa-lg pull-left"><i class="fa fa-ellipsis-v fa-stack-1x "></i></span>Other
                </div>
                <ul class="nav-pills nav-stacked collapse" style="list-style-type: none;" id="other">
                    <li ng-repeat="item in menuController.spaces">
                        <button class="btn btn-custom pull-right btn-md" title="Space Settings" ng-click="menuController.redirectToSpaceSettings(item.id)">
                            <i class="fa fa-inverse fa-wrench faa-wrench animated-hover fa-lg"></i>
                        </button>
                        <div class="d" ng-click='menuController.redirectToSpace(item.id)' title="{{item.name}}">
                            <span class="fa-stack fa-lg pull-left"><i class="fa fa-circle-o  fa-stack-1x"></i></span>
                            {{item.name | limitTo: 5}}{{item.name.length > 5 ? '..' : ''}}
                        </div>
                    </li>
                </ul>
            </li>
            <hr class="style" />
            <li>
                <div class="d" data-toggle="collapse" data-target="#apps">
                    <span class="fa-stack fa-lg pull-left"><i class="fa fa-desktop fa-stack-1x "></i></span>Apps
                </div>
                <ul class="nav-pills nav-stacked collapse" style="list-style-type: none;" id="apps">
                    <li>
                        <div class="d" ng-click="menuController.redirectToApps('academy')">
                            <span class="fa-stack fa-lg pull-left"><i class="fa fa-graduation-cap fa-stack-1x "></i></span>Academy Pro
                        </div>
                    </li>
                    <li>
                        <div class="d" ng-click="menuController.redirectToApps('events')">
                            <span class="fa-stack fa-lg pull-left"><i class="fa fa-calendar fa-stack-1x "></i></span>Events
                        </div>
                    </li>
                    <li>
                        <div class="d" ng-click="menuController.redirectToApps('employees')">
                            <span class="fa-stack fa-lg pull-left"><i class="fa fa-users fa-stack-1x "></i></span>Employees
                        </div>
                    </li>
                    <li>
                        <div class="d" ng-click="menuController.redirectToApps('checklist')">
                            <span class="fa-stack fa-lg pull-left"><i class="fa fa-check-square-o fa-stack-1x "></i></span>Checklist
                        </div>
                    </li>
                    <li>
                        <div class="d" ng-click="menuController.redirectToApps('trello')">
                            <span class="fa-stack fa-lg pull-left"><i class="fa fa-trello fa-stack-1x "></i></span>Trello
                        </div>
                    </li>
                    <li>
                        <div class="d" ng-click="menuController.redirectToApps('docs')">
                            <span class="fa-stack fa-lg pull-left"><i class="fa fa-file-text fa-stack-1x "></i></span>Docs
                        </div>
                    </li>
                    <li>
                        <div class="d" ng-click="menuController.redirectToApps('sheets')">
                            <span class="fa-stack fa-lg pull-left"><i class="fa fa-table fa-stack-1x "></i></span>Sheets
                        </div>
                    </li>
                    <li>
                        <div class="d" ng-click="menuController.redirectToApps('slides')">
                            <span class="fa-stack fa-lg pull-left"><i class="fa fa-slideshare fa-stack-1x "></i></span>Slides
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <div class="d" ng-click="menuController.redirectToAdminPanel()">
                    <span class="fa-stack fa-lg pull-left"><i class="fa fa-sliders fa-stack-1x "></i></span>Admin Panel
                </div>
            </li>
        </ul>
    </div>
</div>