<div id="wrapper" ng-controller="MenuController as menuController">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
            <button class="btn btn-info menu btn-md" style="width: 100%; height: 40px;" ng-click="menuController.open('lg')"><i class="fa iconCustom fa-plus-circle fa-cog fa-lg"></i>Add new Space</button>
            <hr class="style" />
            <li>
                <div class="d" ng-click="menuController.redirectToBinarySpace()">
                    <span class="fa-stack fa-lg pull-left"><i class="fa fa-cloud fa-stack-1x"></i></span>Binary Space
                </div>
            </li>
            <li class="active">
                <div class="d" ng-click="menuController.redirectToMySpace()">
                    <span class="fa-stack fa-lg pull-left"><i class="fa fa-cloud fa-stack-1x"></i></span>My Space
                </div>
            </li>
            <li ng-show="menuController.spaces.length > 2" ng-click="menuController.getAllSpaces()">
                <div class="d" data-toggle="collapse" data-target="#other">
                    <span class="fa-stack fa-lg pull-left"><i class="fa fa-ellipsis-v fa-stack-1x "></i></span>Other
                </div>
                <ul class="nav-pills nav-stacked collapse" style="list-style-type: none;" id="other">
                    <li ng-repeat="item in menuController.spaces" ng-if="item.name != 'Binary Space' && item.name != 'My Space'">
                        <div class="d" ng-click='menuController.redirectToSpace(item.id)' title="{{item.name}}">
                            <span class="fa-stack fa-lg pull-left"><i class="fa fa-circle-o fa-stack-1x span-icon"></i></span>
                            <span class="span-text">{{item.name | limitTo: 15 }}{{item.name.length > 15 ? '..' : ''}}</span>
                        </div>
                    </li>
                </ul>
            </li>
            <hr class="style" />
            <li>
                <div class="d" data-toggle="collapse" data-target="#apps">
                    <span class="fa-stack fa-lg pull-left"><i class="fa fa-desktop fa-stack-1x "></i></span>Apps
                </div>
                <ul class="nav-pills nav-stacked collapse" style="list-style-type: none;" id="apps">
                    <li>
                        <div class="d" ng-click="menuController.redirectToApps('academy')">
                            <span class="fa-stack fa-lg pull-left"><i class="fa fa-graduation-cap fa-stack-1x span-icon"></i></span>
                            <span class="span-text">Academy Pro</span>
                        </div>
                    </li>
                    <li>
                        <div class="d" ng-click="menuController.redirectToApps('events')">
                            <span class="fa-stack fa-lg pull-left"><i class="fa fa-calendar fa-stack-1x span-icon"></i></span>
                            <span class="span-text">Events</span>
                        </div>
                    </li>
                    <li>
                        <div class="d" ng-click="menuController.redirectToApps('employees')">
                            <span class="fa-stack fa-lg pull-left"><i class="fa fa-users fa-stack-1x span-icon"></i></span>
                            <span class="span-text">Employees</span>
                        </div>
                    </li>
                    <li>
                        <div class="d" ng-click="menuController.redirectToApps('checklist')">
                            <span class="fa-stack fa-lg pull-left"><i class="fa fa-check-square-o fa-stack-1x span-icon"></i></span>
                            <span class="span-text">Checklist</span>
                        </div>
                    </li>
                    <li>
                        <div class="d" ng-click="menuController.redirectToApps('trello')">
                            <span class="fa-stack fa-lg pull-left"><i class="fa fa-trello fa-stack-1x span-icon"></i></span>
                            <span class="span-text">Trello</span>
                        </div>
                    </li>
                    <li>
                        <div class="d" ng-click="menuController.redirectToApps('docs')">
                            <span class="fa-stack fa-lg pull-left"><i class="fa fa-file-text fa-stack-1x span-icon"></i></span>
                            <span class="span-text">Docs</span>
                        </div>
                    </li>
                    <li>
                        <div class="d" ng-click="menuController.redirectToApps('sheets')">
                            <span class="fa-stack fa-lg pull-left"><i class="fa fa-table fa-stack-1x span-icon"></i></span>
                            <span class="span-text">Sheets</span>
                        </div>
                    </li>
                    <li>
                        <div class="d" ng-click="menuController.redirectToApps('slides')">
                            <span class="fa-stack fa-lg pull-left"><i class="fa fa-file-powerpoint-o fa-stack-1x span-icon"></i></span>
                            <span class="span-text">Slides</span>
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <div class="d" ng-click="menuController.redirectToAdminPanel()">
                    <span class="fa-stack fa-lg pull-left"><i class="fa fa-sliders fa-stack-1x"></i></span>Admin Panel
                </div>
            </li>
        </ul>
    </div>
</div>