<div>
    <form name="createFolderForm" novalidate>
        <div class="modal-header">
            <h3 class="modal-title">{{folderModalCtrl.title}}</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-2">
                    <span class="glyphicon glyphicon-folder-open" style="font-size: 50px; color: darkgray;"></span>
                </div>
                <div class="col-md-10">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-3">Name: </label>
                            <input class="col-md-9" name="folderName" type="text" ng-model="folderModalCtrl.folder.name" required />
                            <span ng-show="folderModalCtrl.submitted && createFolderForm.folderName.$invalid">
                                <label class="label-danger">The name is required.</label>
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3">Description: </label>
                            <input class="col-md-9" name="Description" type="text" ng-model="folderModalCtrl.folder.description" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button name="FolderFormSaveButton" class="btn btn-primary" type="submit" ng-click="folderModalCtrl.save()">Save</button>
                <button class="btn btn-default" type="submit" ng-click="folderModalCtrl.cancel()">Cancel</button>
            </div>
        </div>
    </form>
</div>

