<div>
    <h1>Folders</h1>
    <button type="button" class="btn btn-success" ng-click="folderCtrl.create()">New Folder</button>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th>Name</th>
                <th>Id</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
            <tr ng-repeat="folder in folderCtrl.folders" context-menu="folderCtrl.menuOptions">
                <td>{{folder.name}}</td>
                <td>{{folder.id}}</td>
                <td>{{folder.description}}</td>
                <!--<td>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" ng-click="">Share</button>
                        <button type="button" class="btn btn-default" ng-click="">Edit</button>
                        <button type="button" class="btn btn-danger" ng-click="folderCtrl.deleteFolder(folder.id)">Delete</button>
                    </div>
                </td>-->
            </tr>
        </table>
    </div>
</div>
