<div>
    <div class="modal-header">
        <h3 class="modal-title">Add new Space</h3>
    </div>
    <div class="modal-body">
        <div class="bs-example">
            <div class="container">
                <div class="col-md-2">
                    <ul class="nav nav-pills nav-stacked">
                        <li ng-class="{ active: createCtrl.isSet(1) }">
                            <a ng-click="createCtrl.setTab(1)">General</a>
                        </li>
                        <li ng-class="{ active: createCtrl.isSet(2) }">
                            <a ng-click="createCtrl.setTab(2)">Users</a>
                        </li>
                        <li ng-class="{ active: createCtrl.isSet(3) }">
                            <a ng-click="createCtrl.setTab(3)">Roles</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-10">
                    <div ng-show="createCtrl.isSet(1)">
                        <form name="createForm" ng-submit="submitForm()" class="form-horizontal" novalidate>
                            <div class="form-group" ng-class="{ 'has-error' : createForm.name.$invalid && !createForm.name.$pristine }">
                                <label class="col-sm-2">Space name:</label>
                                <input type="text" name="name" id="name" class="form-control" ng-pattern="/^[\w -]*$/" ng-model="createCtrl.space.Name" placeholder="Enter space name" required>
                                <p ng-show="createForm.name.$error.required && createForm.name.$touched" class="help-block col-sm-offset-2">Name is required.</p>
                                <p ng-show="createForm.name.$error.pattern" class="help-block col-sm-offset-2">Not a valid name.</p>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2">Description:</label>
                                <input type="text" name="description" class="form-control" id="description" ng-model="createCtrl.space.Description" placeholder="Enter description">
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : createForm.maxfile.$invalid && !createForm.maxfile.$pristine }">
                                <label class="col-sm-2">Maximum Files Quantity:</label>
                                <input type="number" name="maxfile" id="quantity" min="0" step="1" class="form-control" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="createCtrl.space.MaxFilesQuantity" placeholder="Enter max files quantity" required>
                                <p ng-show="createForm.maxfile.$invalid && createForm.maxfile.$touched" class="help-block col-sm-offset-2">Maximum Files Quantity is required.</p>
                                <p ng-show="createForm.maxfile.$error.pattern" class="help-block col-sm-offset-2">Not a valid quantity.</p>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : createForm.maxsize.$invalid && !createForm.maxsize.$pristine }">
                                <label class="col-sm-2">Maximum file size (MB):</label>
                                <input type="number" name="maxsize" id="maxsize" min="0" step="1" max="1024" class="form-control" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="createCtrl.space.MaxFileSize" placeholder="Enter max file size" required>
                                <p ng-show="createForm.maxsize.$error.max" class="help-block col-sm-offset-2">Max file size should be less than 1024 MB.</p>
                                <p ng-show="createForm.maxsize.$invalid && createForm.maxsize.$touched" class="help-block col-sm-offset-2">Maximum file size is required.</p>
                                <p ng-show="createForm.maxsize.$error.pattern" class="help-block">Not a valid file size.</p>
                            </div>
                        </form>
                    </div>
                    <div ng-show="createCtrl.isSet(2)">
                        <form class="form-horizontal" role="form" name="usersForm" novalidate>
                            <div class="col-md-7">
                                <div class="form">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="text" placeholder="Enter a user name" ng-model="createCtrl.selected" uib-typeahead="user as user.name for user in createCtrl.users | filter:{name:$viewValue} | limitTo:10" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <button class="btn btn-primary" ng-click="createCtrl.addSpaceUser()">Add</button>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <table class="table users table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th style="width:50%">User name</th>
                                                <th style="width:15%">Read</th>
                                                <th style="width:15%">Write</th>
                                                <th style="width:20%"></th>
                                            </tr>
                                        </thead>
                                        <tbody style="height: 200px;">
                                            <tr ng-repeat="item in createCtrl.permittedUsers">
                                                <td style="width:50%">{{item.name}}</td>
                                                <td style="width:15%">
                                                    <input type="checkbox" ng-model="item.confirmedRead" ng-change="createCtrl.addReadUser(item.confirmedRead, item.globalId)">
                                                </td>
                                                <td style="width:15%">
                                                    <input type="checkbox" ng-model="item.confirmedWrite" ng-change="createCtrl.addWriteUser(item.confirmedWrite, item.globalId)">
                                                </td>
                                                <td style="width:20%">
                                                    <i role="button" class="fa fa-trash fa-lg" aria-hidden="true" ng-click="createCtrl.removeSpaceUser(item.globalId); createCtrl.addReadUser(false, item.globalId); createCtrl.addWriteUser(false, item.globalId)"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div ng-show="createCtrl.isSet(3)">
                        <form class="form-horizontal" role="form" name="rolesForm" novalidate>
                            <div class="col-md-7">
                                <div class="form">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="text" placeholder="Enter a role name" ng-model="createCtrl.selectedRole" uib-typeahead="role as role.name for role in createCtrl.roles | filter:{name:$viewValue} | limitTo:10" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <button class="btn btn-primary" ng-click="createCtrl.addSpaceRole()">Add</button>
                                        </div>
                                    </div>
                                    <br /> <br />
                                    <table class="table users table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th style="width:50%">Role name</th>
                                                <th style="width:15%">Read</th>
                                                <th style="width:15%">Write</th>
                                                <th style="width:20%"></th>
                                            </tr>
                                        </thead>
                                        <tbody style="height: 200px;">
                                            <tr ng-repeat="item in createCtrl.permittedRoles">
                                                <td style="width:50%">{{item.name}}</td>
                                                <td style="width:15%">
                                                    <input type="checkbox" ng-model="item.confirmedRead" ng-change="createCtrl.addReadRole(item.confirmedRead, item.id)">
                                                </td>
                                                <td style="width:15%">
                                                    <input type="checkbox" ng-model="item.confirmedWrite" ng-change="createCtrl.addWriteRole(item.confirmedWrite, item.id)">
                                                </td>
                                                <td style="width:20%">
                                                    <i role="button" class="fa fa-trash fa-lg" aria-hidden="true" ng-click="createCtrl.removeSpaceRole(item.id); createCtrl.addReadRole(false, item.id); createCtrl.addWriteRole(false, item.id)"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="createCtrl.create()" title="Create new Space"
            ng-disabled="createForm.name.$invalid || createForm.maxfile.$invalid || createForm.maxsize.$invalid">
        Create
    </button>
    <button class="btn btn-default" type="button" ng-click="createCtrl.cancel()">
        Cancel
    </button>
</div>
