<div class="container">
    <br />
    <ol class="breadcrumb breadcrumb-arrow">
        <li><a href="#"><i class="glyphicon glyphicon-home"></i>Space</a></li>
        <li class="active"><span>Settings</span></li>
    </ol>
    <div class="page-header">
        <h2>
            Space settings <small>{{settingsCtrl.space.Name}}</small>
        </h2>
    </div>
    <div class="row">
        <div class="col-md-3" style="padding-right: 20px; border-right: 1px solid #ccc;">
            <h4>General settings</h4>
            <form name="settingsForm" novalidate>
                <div class="col-md-12">
                    <label>Space name:</label>
                    <input type="text" class="form-control" ng-model="settingsCtrl.space.Name">
                </div>
                <div class="col-md-12">
                    <label>Description:</label>
                    <input type="text" class="form-control" ng-model="settingsCtrl.space.Description">
                </div>
                <div class="col-md-12">
                    <label>Maximum Files Quantity:</label>
                    <input type="number" class="form-control" min="0" step="1" ng-model="settingsCtrl.space.MaxFilesQuantity">
                </div>
                <div class="col-md-12">
                    <label>Maximum file size (MB):</label>
                    <input type="number" class="form-control" min="0" step="1" max="1024" ng-model="settingsCtrl.space.MaxFileSize">
                </div>
                <div class="col-md-12">
                    <br />
                    <button class="btn btn-primary" ng-click="settingsCtrl.save()">Save</button>
                    <button class="btn btn-default" ng-click="settingsCtrl.cancel()">Cancel</button>
                </div>
            </form>
        </div>
        <div class="col-md-9">
            <h4>Settings user access to space</h4>
            <ul id="permissionsTab" class="nav nav-tabs">
                <li class="active"><a href="#panel1">Users permission</a></li>
            </ul>
            <div class="tab-content">
                <br />
                <div id="panel1" class="tab-pane fade in active">
                    <div class="form-inline">
                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="dropdown" data-toggle="tooltip" data-placement="top" title="Select user">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Users<span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li ng-repeat="item in settingsCtrl.users">
                                            <a ng-click="settingsCtrl.setChoice(item.Login, item.Id);">{{item.Login}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <input class="form-control" ng-model="settingsCtrl.userAddName" placeholder="User name" disabled />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-5">
                                <button class="btn btn-primary" ng-click="settingsCtrl.addSpaceUser()">Add</button>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>User name</th>
                                <th>Id</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in settingsCtrl.space.ReadPermittedUsers">
                                <td>{{item.Login}}</td>
                                <td>{{item.Id}}</td>
                                <td>
                                    <input type="button" value="Remove" class="btn btn-danger" ng-click="settingsCtrl.removeSpaceUser(item.Id)" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--For Tooltip-->
<script type="text/javascript">
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>