
<div class="container-fluid" style="overflow: hidden; height: 100%">
    <br />
    <div class="btn-group btn-breadcrumb">
        <a class="btn btn-info" ng-click="spaceCtrl.getSpaceByButton()" title="{{spaceCtrl.space.name}}">
            <i class="fa fa-cloud fa-lg"></i>
            {{spaceCtrl.space.name | limitTo: 13}}{{spaceCtrl.space.name.length > 13 ? '...' : ''}}
        </a>
        <a ng-repeat="item in spaceCtrl.folderList" ng-click="spaceCtrl.getFolderContent(item.id); spaceCtrl.deleteElems(item)" title="{{item.name}}" class="btn btn-default">
            {{item.name | limitTo: 10}}{{item.name.length > 10 ? '...' : ''}}
        </a>
    </div>
    <div class="row" style="margin:1em 0 1em 0">
        <div class="col-lg-push-4-offset pull-right">
            <button class="btn btn-default" ng-click="spaceCtrl.changeView(spaceCtrl.view)">
                <i class={{spaceCtrl.view}} title="view"> </i>
            </button>
            <button type="button" class="btn btn-default btn-custom" ng-click="spaceCtrl.redirectToSpaceSettings(spaceCtrl.space.id)" title="Open Space Settings">
                <i class="fa fa-cog fa-lg"></i>
            </button>
        </div>
        <div class="form-inline">
            <div class="form-group col-sm-7 pull-left nopadding">
                    <button type="button" class="btn btn-default btn-custom" ng-click="spaceCtrl.createNewFolder()" title="Add new folder">
                        <img src="./Content/Icons/add-folder_bw.svg" height="32" alt="Add folder" />
                    </button>
                    <button type="button" class="btn btn-default btn-custom" ng-click="spaceCtrl.createNewFile()" title="Add new link">
                        <img src="./Content/Icons/add-file_bw.svg" height="32" alt="Add file" />
                    </button>
                <button type="button" class="btn btn-default btn-custom" ng-click="" title="Upload file">
                    <img src="./Content/Icons/upload-doc_bw.svg" height="30" alt="Upload file" />
                </button>
            </div>
        </div>
        <div>
            <div class="col-sm-3 pull-right">
                <div>
                    <div class="input-group">
                        <form id="form-container">
                            <div id="searchtext">
                                <input type="search" size="40" class="search-input" value="" name="s" id="s" ng-click="spaceCtrl.cancelSearch()" placeholder="Search..." ng-model="spaceCtrl.searchText">
                                <button class="search-submit-button" type="submit" ng-click="spaceCtrl.search()"> <i class="fa fa-search"></i> </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <span us-spinner="{radius:30, width:8, length: 16}"></span>

    <!--New gridview-->
    <ul class="sp-gv-flex-container wrap" ng-show="spaceCtrl.showGrid">
        <li class="sp-gv-flex-item" role="button" context-menu="spaceCtrl.folderMenuOptions" dir-paginate="folder in spaceCtrl.space.folders | itemsPerPage: spaceCtrl.paginate.pageSize" total-items="spaceCtrl.paginate.numberOfItems" current-page="spaceCtrl.paginate.currentPage" title="Created {{ folder.createdAt | date : 'short' }}" ng-dblclick="spaceCtrl.getFolderContent(folder.id); spaceCtrl.addElem(folder)">
            <div class="sp-gv-wrapper-flex-item">
                <div class="sp-gv-item-content">
                    <div class="sp-gv-item-img-wrapper">
                        <img ng-src="./Content/Icons/folder.svg" alt="Folder" title="Folder" />
                    </div>
                    <div class="sp-gv-item-text">
                        <h4 title="{{folder.name}}">{{folder.name | limitTo: 15}}{{folder.name.length > 15 ? '...' : ''}}</h4>
                        <h5 title="{{folder.author.name}}"><i class="fa fa-user" aria-hidden="true"></i>
                            {{folder.author.name | limitTo: 17}}{{folder.author.name.length > 17 ? '...' : ''}}</h5>
                        <p title="{{folder.description}}">{{file.description | limitTo: 45}}{{folder.description.length > 45 ? '...' : ''}}</p>
                    </div>
                </div>
            </div>
        </li>

        <li class="sp-gv-flex-item" role="button" context-menu="spaceCtrl.fileMenuOptions" ng-repeat="file in spaceCtrl.space.files" title="Created {{ file.createdAt | date : 'short' }}" ng-dblclick="spaceCtrl.openDocument(file.link)">
            <div class="sp-gv-wrapper-flex-item">
                <div class="sp-gv-item-content">
                    <div class="sp-gv-item-img-wrapper">
                        <img ng-src="{{spaceCtrl.chooseIcon(file.fileType)}}" alt="{{ file.fileType | typeOfFile }}" title="{{ file.fileType | typeOfFile }}" />
                    </div>
                    <div class="sp-gv-item-text">
                        <h4 title="{{file.name}}">{{file.name | limitTo: 15}}{{file.name.length > 15 ? '...' : ''}}</h4>
                        <h5 title="{{file.author.name}}">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            {{file.author.name | limitTo: 17}}{{file.author.name.length > 17 ? '...' : ''}}
                        </h5>
                        <p title="{{file.description}}">{{file.description | limitTo: 45}}{{file.description.length > 45 ? '...' : ''}}</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="sp-gv-flex-item"></li>
        <li class="sp-gv-flex-item"></li>
        <li class="sp-gv-flex-item"></li>
    </ul>
    <!--End New gridview-->


    <div class="table-responsive blocked-table" ng-show="spaceCtrl.showTable">
        <table class="fixed_headers">
            <thead context-menu="spaceCtrl.folderMenuOptions">
                <tr style="cursor: pointer">
                    <th class="name" style="width: 20%" ng-click="spaceCtrl.orderByColumn('name')">
                        Name
                        <span ng-show="spaceCtrl.columnForOrder == 'name'"><i class="fa fa-sort-asc"></i></span>
                        <span ng-show="spaceCtrl.columnForOrder == '-name'"><i class="fa fa-sort-desc"></i></span>
                    </th>
                    <th style="width: 33%" ng-click="spaceCtrl.orderByColumn('description')">
                        Description
                        <span ng-show="spaceCtrl.columnForOrder == 'description'"><i class="fa fa-sort-asc"></i></span>
                        <span ng-show="spaceCtrl.columnForOrder == '-description'"><i class="fa fa-sort-desc"></i></span>
                    </th>
                    <th style="width: 20%" ng-click="spaceCtrl.orderByColumn('author.name')">
                        Author
                        <span ng-show="spaceCtrl.columnForOrder == 'author.name'"><i class="fa fa-sort-asc"></i></span>
                        <span ng-show="spaceCtrl.columnForOrder == '-author.name'"><i class="fa fa-sort-desc"></i></span>
                    </th>
                    <th style="width: 15%" ng-click="spaceCtrl.orderByColumn('createdAt')">
                        Created
                        <span ng-show="spaceCtrl.columnForOrder == 'createdAt'"><i class="fa fa-sort-asc"></i></span>
                        <span ng-show="spaceCtrl.columnForOrder == '-createdAt'"><i class="fa fa-sort-desc"></i></span>
                    </th>
                    <th class="type" style="width: 10%" ng-click="spaceCtrl.orderByColumn('fileType')">
                        Type
                        <span ng-show="spaceCtrl.columnForOrder == 'fileType'"><i class="fa fa-sort-asc"></i></span>
                        <span ng-show="spaceCtrl.columnForOrder == '-fileType'"><i class="fa fa-sort-desc"></i></span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="shadow" role="button" ng-repeat="folder in spaceCtrl.space.folders | orderBy: spaceCtrl.columnForOrder" context-menu="spaceCtrl.folderMenuOptions" ng-dblclick="spaceCtrl.getFolderContent(folder.id); spaceCtrl.addElem(folder)">
                    <td style="width: 20%">
                        <img src="./Content/Icons/folder.svg" height="{{spaceCtrl.iconHeight}}" />
                        &nbsp;{{ folder.name }}
                    </td>
                    <td style="width: 33%">{{ folder.description }}</td>
                    <td style="width: 20%">{{ folder.author.name }}</td>
                    <td style="width: 15%">{{ folder.createdAt | date:'dd-MM-yyyy HH:mm' }}</td>
                    <td style="width: 10%">Folder</td>
                </tr>
                <tr class="shadow" role="button" ng-repeat="file in spaceCtrl.space.files | orderBy: spaceCtrl.columnForOrder" context-menu="spaceCtrl.fileMenuOptions" ng-dblclick="spaceCtrl.openDocument(file.link)">
                    <td style="width: 20%">
                        <img ng-src="{{spaceCtrl.chooseIcon(file.fileType)}}" height="{{spaceCtrl.iconHeight}}" /> 
                        &nbsp;{{ file.name }}
                    </td>
                    <td style="width: 33%">{{ file.description }}</td>
                    <td style="width: 20%">{{ file.author.name }}</td>
                    <td style="width: 15%">{{ file.createdAt | date:'dd-MM-yyyy HH:mm' }}</td>
                    <td style="width: 10%">{{ file.fileType | typeOfFile }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="page-footer-center">
        <dir-pagination-controls class="page-footer" on-page-change="spaceCtrl.paginate.getContent(newPageNumber)"></dir-pagination-controls>
    </div>
</div>

