<div>
    <div class="row">
        <ol class="breadcrumb">
            <li>
                <a href="#">Binary Space</a>
            </li>
            <li class="active">Folder</li>
        </ol>
    </div>
    <div class="row">
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default">Create</button>
            <button type="button" class="btn btn-default">Delete</button>
            <button type="button" class="btn btn-default">Share</button>
        </div>
        <div class="col-sm-3 pull-right nopadding">
            <div>
                <form class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search input" name="srch-term" id="srch-term">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="pull-right">
        <div>
            <div class="btn-group">
                <a href="#" id="list" class="btn btn-default btn-sm" ng-click="spaceCtrl.listView">
                    <span class="glyphicon glyphicon-th-list">
                    </span>List
                </a> <a href="#" id="grid" class="btn btn-default btn-sm" ng-click="spaceCtrl.gridView">
                    <span class="glyphicon glyphicon-th"></span>Grid
                </a>
            </div>
        </div>
    </div>
    <br />
    <div>
        <h4>Folders</h4>
        <hr />
        <div class="container">
            <div id="folders" class="row list-group">
                <div class="container">
                    <div class="item  col-xs-4 col-lg-4" ng-repeat=""> 
                        <div class="thumbnail">
                            <p>Folder name {{}}</p>
                        </div>
                    </div>
                    <div class="text-center">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        <hr />
    </div>
    <div>
        <h4>Files</h4>
        <div id="folders" class="row list-group">
            <div class="container">
                <div class="item  col-xs-4 col-lg-4" ng-repeat="">
                    <div class="thumbnail">
                        <p>Folder name {{}}</p>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
