<div ng-app="driveApp" ng-controller="spaceCtrl" class="container col-md-12">
    <div class="row">
        <ol class="breadcrumb">
            <li>
                <a href="#">{{spaceCtrl.space.Name}}</a>
            </li>
            <li class="active">Folders</li>
        </ol>
    </div>
    <div class="row">
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default">Create</button>
        </div>
        <div class="col-sm-3 pull-right nopadding">
            <div>
                <form class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search input" name="srch-term" id="srch-term">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tr ng-repeat="folder in spaceCtrl.space.Folders | orderBy:'Name'">
                <td><a href="#ItemContent">{{ folder.Name }}</a></td>
                <td>{{ folder.Description}}</td>
                <td>Folder</td>
            </tr>
            <tr ng-repeat="file in spaceCtrl.space.Files | orderBy:'Name'">
                <td>{{ file.Name }}</td>
                <td>{{ file.Description}}</td>
                <td>{{ file.Type }}</td>
            </tr>
        </table>
    </div>
</div>
