
<div class="container-fluid">
    <br />
    <div class="btn-group btn-breadcrumb">
        <a class="btn btn-info"><i class="fa fa-sliders fa-lg"></i> Admin Panel</a>
    </div>
    <div class="page-header col-md-12 admin-header">
        <div class='pull-right'>
            <div class="admin-btn-group">
                <button class="btn btn-info btn-md" ng-click="adminCtrl.createRole('lg')" title="Create new role"><i class="fa iconCustom fa-plus-circle fa-lg"></i> Create role</button>
                <button class="btn btn-md btn-default" ng-click="adminCtrl.syncUsers()" title="Sync Users"><i class="fa fa fa-refresh fa-lg"></i> Sync users</button>
                <button class="btn btn-md btn-default" ng-click="adminCtrl.openLogs()" role="button" title="Open logs page">Logs</button>
            </div>
        </div>
        <h2>Roles</h2>
    </div>
    <div class="col-md-12">
        <table class="table users table-striped table-hover">
            <thead>
                <tr>
                    <th style="width: 90%">Role name</th>
                    <th style="width: 10%">Actions</th>
                </tr>
            </thead>
            <tbody style="height: 330px;">
                <tr ng-repeat="item in adminCtrl.roles">
                    <td style="width: 90%" class="description" title="{{item.name}}">
                        {{item.name | limitTo: 115}}{{item.name.length > 115 ? '...' : ''}}
                    </td>
                    <td style="width: 5%">
                        <i role="button" class="fa fa-pencil-square-o fa-lg" aria-hidden="true" ng-click="adminCtrl.editRole('lg', item.id);" title="Edit role"></i>
                    </td>
                    <td style="width: 5%">
                        <i role="button" class="fa fa-trash fa-lg" aria-hidden="true" ng-click="adminCtrl.removeRole(item.id);" title="Delete role"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>