<div class="container-fluid">
    <br />
    <div class="btn-group btn-breadcrumb">
        <a ng-click="eventCtrl.getCourseList()" class="btn btn-info"><i class="fa fa-graduation-cap fa-lg"></i> Events</a>
    </div>
    <div us-spinner="{radius:5, width:2, length: 5}" style="position:absolute; top:35px; right:60px"></div>
    <div class="col-md-12 event-wrap">
        <div class="page-header event-header">
            <h1 id="timeline">{{eventCtrl.event.fileUnit.name}}</h1>
            <div class="row">
                <div class="col-sm-6">
                    <p>
                        <small class="text-muted" title="event author"><i class="fa fa-user" aria-hidden="true"></i> {{ eventCtrl.event.author.name }}</small>
                    </p>
                    <p>
                        <small class="text-muted" title="event start date"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> {{ eventCtrl.event.eventDate | date:'dd-MM-yyyy HH:mm' }}</small>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p>
                        {{eventCtrl.event.fileUnit.description}}
                    </p>
                    <br/>
                    <div ng-repeat="content in eventCtrl.sortedContentList">
                        <div event-content content="content" content-types="eventCtrl.contentTypes" link-trust="eventCtrl.trustSrc"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>