
<div class="row">
    <div class="col-sm-8 col-sm-offset-2" ng-if="content.contentType == contentTypes.video">
        <h4>{{content.name}}</h4>
        <youtube-video video-url="content.content"></youtube-video>
        <p style="text-align:center">{{content.description}}</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12" ng-if="content.contentType == contentTypes.text">
        <p>{{content.content}}</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-8 col-sm-offset-2" ng-if="content.contentType == contentTypes.photo">
        <h4>{{content.name}}</h4>
        <div class="thumbnail">
            <img src="{{content.content}}" alt="content.name">
        </div>
        <p style="text-align:center">{{content.description}}</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12" ng-if="content.contentType == contentTypes.link">
        <div class="col-sm-2 description" title="{{content.name}}">
            <p>{{content.name| limitTo: 15}}{{content.name.length > 15 ? '...' : ''}}</p>
        </div>
        <div class="col-sm-3 description" title="{{content.description}}">
            <p>{{content.description| limitTo: 22}}{{content.description.length > 22 ? '...' : ''}}</p>
        </div>
        <div class="col-sm-7">
            <a ng-href="{{content.content |external}}" target="_blank">{{content.content| limitTo: 75}}{{content.content.length > 75 ? '...' : ''}} <i class="fa fa-external-link" aria-hidden="true"></i></a>
        </div>
    </div>
</div>