<div>
    <h2>ros</h2>
    <form role="form" name="fileForm" novalidate>
        <div class="modal-header">
            <h3 class="modal-title">{{sharedFileModalCtrl.title}}</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-2">
                    <span style="font-size: 70px; color: darkgray;"><i ng-class="sharedFileModalCtrl.icon"></i></span>
                </div>
                <div class="col-md-10">
                    <div class="form">
                        <div class="form-group">
                            <label for="fileName" class="col-md-3">Name: </label>
                            <input class="form-control" name="fileName" type="text" placeholder="Enter title" ng-model="sharedFileModalCtrl.file.name" required space-id="{{sharedFileModalCtrl.file.spaceId}}" parent-id="{{sharedFileModalCtrl.file.parentId}}" file-name="{{sharedFileModalCtrl.name}}">
                            <span style="color: red" class="col-md-offset-3">
                                <span ng-show="fileForm.fileName.$error.fileName"> File with this name already exists </span>
                                <span ng-show="fileForm.fileName.$touched && fileForm.fileName.$error.required"> Name is required</span>
                            </span>
                        </div>
                        <div class="form-group">
                            <label for="link" class="col-md-3">Link:</label>
                            <input type="text" class="form-control" placeholder="Google Docs, Trello or other resource" name="link" ng-model="sharedFileModalCtrl.file.link" ng-change="sharedFileModalCtrl.isValidUrl()" required>
                            <span style="color: red" class="col-md-offset-3">
                                <span ng-show="fileForm.link.$error.required && fileForm.link.$touched">Link is required.</span>
                                <span ng-show="!sharedFileModalCtrl.urlIsValid && fileForm.link.$touched">Invalid URL.</span>
                            </span>
                        </div>
                        <div class="form-group">
                            <label for="descript" class="col-md-3">Description:</label>
                            <textarea rows="5" class="form-control" placeholder="Description" id="descript" ng-model="sharedFileModalCtrl.file.description"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-offset-3 col-md-8">
                    <button type="submit" class="btn btn-primary" ng-click="sharedFileModalCtrl.save()" ng-disabled="fileForm.fileName.$invalid || !sharedFileModalCtrl.urlIsValid">Save</button>
                    <button class="btn btn-default" type="submit" ng-click="sharedFileModalCtrl.cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>