@{
    ViewBag.Title = "Home Page";
}
<div ng-include="'Scripts/App/Menu/Menu.html'" style="width:180px; float:left"></div>
<div>
    <div ng-view style="margin-left:150px; width: 100%;"></div>
</div>
