@{
    ViewBag.Title = "Home Page";
}
<div id="wrapper">
    <div id="section-menu">
        <div id="sidebar-toggle" style="max-width: 193px;">
            <button href="#menu-toggle" class="btn btn-custom menu-toggle">
                <i class="fa fa-bars fa-inverse fa-2x" aria-hidden="true"></i>
            </button>
        </div>
        <div ng-include="'Scripts/App/Menu/Menu.html'" class="include-index" id="sidebar-wrapper">
        </div>
    </div>

    <div ng-view class="view-index" id="page-content-wrapper"></div>
</div>
<script type="text/javascript">
    $(".menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
