@{
    ViewBag.Title = "Home Page";
}
<div ng-include="'Scripts/App/Menu/Menu.html'" style="float: left; max-width: 160px; margin: 0; overflow: hidden">
    
</div>

<div>
    <div ng-view style="margin-left: 160px; overflow: hidden"></div>
</div>