@using Drive.DataAccess.Entities;
@model Driver.Shared.Dto.ShareLinkDto
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"
    <link rel="shortcut icon" href="@ViewBag.BasePath/icon.png">
    <link type="text/css" rel="stylesheet" href="@ViewBag.BasePath/Content/Bundles/styles.css" />
    <link href="http://team.binary-studio.com/app/styles/css/style.css" rel="stylesheet" />
    <title>Drive</title>
</head>
<body style="background-color:#545861; padding: 0px; margin: 0px; display: flex; align-items: center; justify-content: center">
    <div id="content" style="margin: 0 auto; min-width: 70vw;">
        @Html.Partial("_SharedContent", Model)
    </div>
    <script src="~/Scripts/Libs/jquery-1.9.0.min.js"></script>
    <script src="~/Scripts/Libs/jquery.unobtrusive-ajax.min.js"></script>
</body>
</html>